.footer {
  background-color: #0D2436;
  box-shadow: inset 0px 1px 0px #C4CDD5;

  &__logo {

    @include tablet {
      width: 70px;
      height: 57px;
    }
  }

  &__top {
    display: flex;
    // justify-content: space-between;
    padding-bottom: 45px;

    @include md-tablet {
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 17.420%;
    min-width: 116px;

    @include xxl {
      margin-right: 8%;
    }

    @include tablet {
      margin-right: 5%;
    }

    @include md-tablet {
      flex-direction: initial;
      margin-right: 0;
      margin-bottom: 24px;
    }

    &-top {
      margin-top: 12px;

      @include md-tablet {
        margin-top: 0;
      }
    }
  }

  &__right {
    display: flex;
    flex-basis: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include small-tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 24px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 182px;
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;

    @include small-tablet {
      margin-bottom: 12px;
    }

    @include mini-mobile {
      font-size: 16px;
    }

    &-phone {
      display: block;
      margin-bottom: 16px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #C4CDD5;

      @include tablet {
        font-size: 12px;
        line-height: 14px;
      }

      @include small-tablet {
        margin-bottom: 12px;

      }

      @include mini-mobile {
        font-size: 12px;
      }
    }

    &-email {
      display: block;
      margin-bottom: 16px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #C4CDD5;

      @include tablet {
        font-size: 12px;
        line-height: 14px;
      }

      @include small-tablet {
        margin-bottom: 12px;
      }
    }
  }

  &__nav {
    min-width: 139px;

    .footer__link + .footer__link {
      margin-top: 20px;

      @include small-tablet {
        margin-top: 12px;
      }
    }
  }

  &__contacts {
    .footer__link:not(:last-child) {
      margin-bottom: 20px;

      @include small-tablet {
        margin-bottom: 12px;
      }
    }
  }

  &__info {
    min-width: 146px;

    .footer__link:not(:last-child) {
      margin-bottom: 20px;

      @include small-tablet {
        margin-bottom: 12px;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    width: fit-content;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0px;
      height: 1px;
      background-color: var(--white-color);
      transition: all .3s;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    @include tablet {
      font-size: 14px;
      line-height: 24px;
    }

    @include mini-mobile {
      font-size: 12px;
    }
  }

  &__container {
    padding-top: 55px;
  }

  &__logo {
    display: block;
  }

  &__item {
    color: var(--white-color);
  }

  &__bottom {
    border-top: 1px solid var(--gray-color);
    padding-top: 24px;
    padding-bottom: 25px;
    text-align: center;

    span {
      font-family: "SFProDisplay";
      font-size: 14px;
      line-height: 17px;
      color: var(--white-color);
      opacity: 0.6;

      @include mini-mobile {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link + &__link {
    @include md-tablet {
      margin-left: 24px;
    }
  }

  &__link {
    svg {
      path {
        transition: all .3s;
      }
    }
  }
}


.address {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;

  @include tablet {
    font-size: 14px;
    line-height: 24px;
  }

  @include small-tablet {
    max-width: 190px;
  }

  @include mini-mobile {
    font-size: 12px;
  }
}



.vk {
  display: inline-block;
  width: 26px;
  height: 15px;

  &:hover {
    svg {
      path {
        fill: var(--blue-color);
      }
    }
  }
}

.twitter {
  display: inline-block;
  width: 25px;
  height: 20px;

  &:hover {
    svg {
      path {
        fill: var(--blue-color);
      }
    }
  }
}

.facebook {
  display: inline-block;
  width: 13px;
  height: 26px;

  &:hover {
    svg {
      path {
        fill: var(--blue-color);
      }
    }
  }
}

