.header {
  box-shadow: inset 0px -1px 0px #c4cdd5;

  &__container {
    position: relative;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__phone {
    display: inline-flex;
    align-items: center;
    margin-right: 41px;
    font-family: "SFProDisplay";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--gray-color);
    transition: all .3s;

    svg {
      margin-right: 9px;
      width: 19px;
      height: 19px;
      fill: var(--blue-color);
      transition: all .3s;
    }

    &:hover {
      color: var(--blue-color);

      svg {
        fill: #2E81D0;;
      }
    }
  }
}

.nav {
  margin-right: 181px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item + &__item {
    margin-left: 32px;
  }

  &__item {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: var(--gray-color);
  }

  &__link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0px;
      height: 1px;
      background-color: var(--gray-color);
      transition: all .3s;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    &:focus {
      outline: 1px solid var(--blue-color);
      outline-offset: 2px;
      transition: none;
    }


    &-catalog {
      position: relative;

      svg {
        position: relative;
        margin-left: 5px;
        top: -3px;
        transition: all .3s;
      }

      &--open {
        svg {
          transform: rotate(-180deg);

          path {
            stroke: var(--blue-color);
          }
        }
      }
    }
  }
}

.favorites {
  display: block;
  margin-right: 24px;
  cursor: pointer;

  svg {
    path {
      transition: all .3s;
    }
  }

  &:hover {
    svg {
      path {
        stroke: var(--blue-color);
      }
    }
  }
}

.basket {
  display: block;
  cursor: pointer;

  svg {
    path {
      transition: all .3s;
    }
  }

  &:hover {
    svg {
      path {
        stroke: var(--blue-color);
      }
    }
  }
}
