.hero {
  background-color: rgba(0, 0, 0, 0.02);

  &__slider {
    padding-bottom: 48px;
  }

  &__item {
    display: flex;
    padding-top: 125px;
    padding-left: 52px;
  }

  &__image {
    width: 43%;
    margin-right: 6%;
  }

  &__content {
    display: flex;
    width: calc(100% - 43% - 6%);
    flex-direction: column;
    max-width: 604px;
    margin-top: 46px;
  }

  &__title {
    margin-bottom: 20px;

    span {
      display: block;
    }
  }

  &__descr {
    margin: 0;
    max-width: 300px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--gray-color);
  }

  &__text {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: var(--gray-color);
  }

  &__prices {
    display: flex;
    align-items: center;
  }

  &__newprice {
    margin-right: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--black-color);
  }

  &__oldprice {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #A4A4A4;
  }

  &__btn {
    display: block;
    align-self: flex-start;
    margin-top: 16px;
    padding: 12px 37px;

    &:focus {
      outline: 2px solid var(--blue-color);
      outline-offset: 3px;
      transition: none;
    }
  }
}

.descr-one {
  margin-bottom: 16px;
}

.descr-two {
  margin-bottom: 32px;
}

.hero__navigation {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero__pagination {
  position: relative;
  margin-top: 40px;
  text-align: center;
  z-index: 500;
}

.swiper-pagination-bullet {
  background-color: #ADD7FF;

  &-active {
    position: relative;
    background-color: var(--blue-color);
    transition: all .1s;

    &:before {
      content: "";
      position: absolute;
      right: -8px;
      bottom: -8px;
      border-radius: 50%;
      border: 1px solid #ADD7FF;
      width: 24px;
      height: 24px;
      background-color: transparent;
      transition: all .1s;
    }
  }
}

.hero__slider > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 12px;
}

.hero__slider > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -16px;
}

.hero-btn-next {
  position: relative;
  top: -3px;
  right: -80px;
  z-index: 505;

  svg {
    width: 11px;
    height: 21px;

    path {
      transition: all .3s;
    }
  }

  &:hover {
    svg path {
      stroke: #C4CDD5;
    }
  }
}

.hero-btn-prev {
  position: relative;
  top: -3px;
  left: -80px;
  z-index: 505;

  svg {
    width: 11px;
    height: 21px;

    path {
      transition: all .3s;
    }
  }

  &:hover {
    svg path {
      stroke: #C4CDD5;
    }
  }
}
