.mission {
  padding-top: 130px;
  padding-bottom: 133px;

  &__container {
    display: flex;
  }

  &__left {
    padding-top: 88px;
    width: 40.4%;
    margin-right: calc(100% - 40.4% - 48.6%);

    .bracket {
      display: block;
      margin-bottom: 14px;
    }
  }

  &__tab {
    position: relative;
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 26px;
    font-family: "SFProDisplay", sans-serif;
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--blue-color);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 2px;
      background-color: currentColor;
    }
  }

  &__descr {
    margin: 0;
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: var(--gray-color);
  }

  &__right {
    position: relative;
    width: 48.6%;
    cursor: pointer;

    &:hover {
      .pattern-gray {
        opacity: 1;

        path {
          fill: var(--blue-color);
        }
      }

      .pattern-blue {
        opacity: 1;

        path {
          fill: #7282A0;
        }
      }
    }

    svg {
      position: absolute;
      transition: all .2s;

      path {
        transition: all .3s;
      }
    }
  }

  &__picture {
    position: relative;
    display: flex;
    z-index: 10;

    &--small {
      position: absolute;
      left: -60px;
      bottom: -46px;
      z-index: 20;
      display: flex;

      img {
        height: 292px;
        object-fit: contain;
      }
    }
  }
}
