.pay {
  padding-top: 40px;

  @include mobile {
    padding-top: 32px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 24px;

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__list {
    max-width: 818px;
    border-bottom: 1px solid #C4CDD5;
    padding-bottom: 40px;

    @include mobile {
      padding-bottom: 32px;
    }
  }

  &__item + &__item {
    margin-top: 24px;

    @include mobile {
      margin-top: 16px;
    }
  }

  &__subject {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding-left: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    @include mobile {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 26px;
    }

    &::before {
      content: "";
      position: absolute;
      margin-left: -32px;
      width: 20px;
      height: 14px;
      background-image: url("../img/svg/bank-card.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__descr {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: var(--gray-color);
  }
}
