.product-page {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__images {
    width: 48.6%;
    margin-right: 2.4%
  }

  &__text {
    width: calc(100% - 48.6% - 2.4%);
  }
}

.product-images {
  &__picture {
    display: flex;
    justify-content: center;
    height: 513px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03));
    cursor: pointer;

    img {
      object-fit: contain;
    }
  }

  .swiper-slide {
    overflow: hidden;
  }

}

.slider-block {
  overflow: hidden;
}

.slider-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 133px;

  &__item {
    display: flex;
    border: 1px solid #EAEAEA;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: rgba(125, 190, 255, 0.07);
    }

    &:focus {
      outline: 1px solid var(--blue-color);
      outline-offset: 0px;
      transition: none;
    }

    picture {
      display: flex;
      justify-content: center;

      img {
        max-width: 80%;
        object-fit: contain;
      }
    }
  }
}

.product-text {
  &__info {
    margin-bottom: 16px;
  }

  &__rating {
    font-size: 20px;
  }

  &__num {
    display: inline-block;
    margin-right: 13px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: var(--gray-color);
  }


  &__reviews {
    display: inline-block;
    margin-left: 9px;
    font-weight: 600;
    font-size: 13px;
    color: var(--blue-color);

  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }

  &__prices {
    display: flex;
    margin-top: 24px;
  }

  &__newprice {
    margin-right: 12px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
  }

  &__oldprice {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #A4A4A4;
  }

  &__buttons {
    display: flex;
    margin-top: 17px;
  }

  &__buy {
    margin-right: 30px;
    padding: 15px 50px;
    width: 288px;
    font-family: 'SFProDisplay', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    &:focus {
      outline: 2px solid var(--blue-color);
      outline-offset: 4px;
      transition: none;
    }
  }

  &__favorite {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: #4D4D4D;
    transition: all .3s;

    svg {
      margin-right: 10px;
      width: 17px;
      height: 15px;

      path {
        transition: all .3s;
      }
    }

    &:hover {
      color: var(--blue-color);

      svg path {
        stroke: var(--blue-color);
      }
    }

    &:focus {
      outline: 1px solid var(--blue-color);
      outline-offset: 1px;
      transition: none;
    }
  }

  &__dropdowns {
    margin-top: 32px;
  }


}

.product-checkboxes {
  .custom-checkbox__text {
    display: inline-block;
    font-size: 14px;
  }

  &__list {
    margin-top: 8px;
    display: flex;
  }

  &__item {
    .custom-checkbox__text {
      font-size: 14px;
      color: var(--gray-color);
    }
  }

  &__item + &__item {
    margin-left: 12px;
  }

  .custom-checkbox__text {
    padding-left: 22px;
  }

  .custom-checkbox__text::before {
    border-radius: 2px;
    margin-left: -22px;
    width: 14px;
    height: 14px;
  }

  .custom-checkbox--active .custom-checkbox__text::after {
    top: 8px;
    left: 3px;
  }
}

.product-description {
  display: flex;
  margin-top: 24px;

  &__title {
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 24px;
  }
}

.equipment {
  .custom-select__top {
    border: 1px solid #C4CDD5;
    min-width: 322px;
  }

  .custom-select--open {
    .custom-select__top {
      border: 1px solid var(--blue-color);
      transition: all 0.2s;
    }
  }
}



.color {
  margin-left: 30px;

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
  }

  &__button {
    position: relative;
    width: 39px;
    height: 39px;
    transition: all .3s;

    &--white {
      border: 1px solid #C4CDD5;
      background-color: var(--white-color);
    }

    &--black {
      border: 1px solid var(--black-color);
      background-color: var(--black-color);
    }

    &--orange {
      border: 1px solid #E2C355;
      background-color: #E2C355;
    }

    &--active {
      border: 1px solid var(--blue-color);

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 15px;
        height: 11px;
        background-image: url("../img/svg/icon-color.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__item + &__item {
    margin-left: 12px;
  }
}

.accordion {
  padding: 16px;

  &--active {
    background-color: #F6F7F9;

    .accordion__icon {
      transform: rotate(180deg);

      svg path {
        stroke: #4295E4;;
      }
    }

    .accordion__content {
      opacity: 1;
    }
  }
  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    font-weight: 500;
  }

  &__icon {
    transition: all .3s;

    svg path {
      stroke: #161C24;;
    }
  }

  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-top: 12px;
    will-change: max-height;
    transition: all 0.3s ease-out;
    box-sizing: content-box;

    p {
      margin: 0;
      padding: 0;
      font-size: 14px;
      line-height: 24px;
      color: var(--gray-color);
    }
  }
}

.accordion + .accordion {
  margin-top: 10px;
}

.product-tabs {
  margin-top: 40px;
  width: 100%;

  &__content {
    display: none;

    &--active {
      display: block;
    }
  }

  &__list {
    display: flex;
    margin-bottom: 36px;
  }

  &__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  &__item + &__item {
    margin-left: 62px;
  }

  &__btn {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -10px;
      width: 0%;
      height: 3px;
      background-color: var(--blue-color);
      transition: all .3s;
    }
    &--active {

      &::before {
        width: 100%;
      }
    }
  }
}

[data-tabs-target="charact"] {

  .tabs-content__inner {
    display: flex;
  }

  .tabs-content__left {
    width: 48.8%;
    margin-right: calc(100% - 48.8% - 48.8%);
  }

  .tabs-content__right {
    width: 48.8%;
  }

  .tabs-content__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    width: 100%;

    &:nth-child(odd) {
      background-color: #fafafa;
    }
  }

  .tabs-content__name {
    display: inline-block;
    width: 50%;
    font-weight: 500;
    line-height: 26px;
    color: #181818;;
  }

  .tabs-content__descr {
    display: inline-block;
    width: 50%;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--gray-color);
  }
}

[data-tabs-target="descr"] {
  .tabs-content__inner {
    display: flex;
  }

  .tabs-content__left {
    width: 57.4%;
    margin-right: calc(100% - 57.4% - 40.3%);
  }

  .tabs-content__right {
    width: 40.3%;
  }

  .tabs-content__description {
    margin: 0;
    line-height: 26px;
    color: var(--gray-color);

    &:nth-of-type(1) {
      margin-bottom: 8px;
    }

    &:nth-of-type(2) {
      margin-bottom: 24px;
    }

    &:nth-of-type(3) {
      margin-top: 24px;
    }
  }

  .tabs-content__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }

  .tabs-content__checkboxes {
    margin-top: 24px;
  }

  .custom-checkbox__text {
    display: inline-flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray-color);

    &::before {
      top: 3px;
      border-radius: 2px;
    }

    &::after {
      top: 8px;
    }
  }
}

[data-tabs-target="reviews"] {
  .tabs-content__inner {
    display: flex;
  }

  .tabs-content__list {
    width: 66%;
  }

  .tabs-content__item {
    border: 1px solid #EAEAEA;
  }

  .tabs-content__item + .tabs-content__item {
    margin-top: 16px;
  }

  .tabs-content__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
    padding: 16px 24px;
  }

  .tabs-content__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
  }

  .tabs-content__date {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: var(--gray-color);
  }

  .tabs-content__bottom {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
  }

  .tabs-content__description {
    margin: 0;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 24px;
  }

  .tabs-content__buttons {
    display: flex;
    margin-top: auto;
  }

  .tabs-content__answer {
    display: inline-flex;
    align-items: center;
    margin-right: 23px;
    font-size: 14px;
    line-height: 26px;

    svg {
      margin-right: 7px;
    }
  }

  .tabs-content__comments {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 26px;

    svg {
      margin-right: 7px;
    }
  }

  .tabs-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #EAEAEA;;
    margin-left: calc(100% - 66% - 31.7%);
    padding: 24px 26px 24px 21px;
    width: 31.7%;
    height: fit-content;

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    &__label {
      display: flex;
      flex-direction: column;
    }

    .tabs-form__label + .tabs-form__label {
      margin-top: 20px;
    }

    &__text {
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }

    &__name {
      padding: 0 25px 0 16px;
      height: 48px;
    }

    &__email {
      padding: 0 25px 0 16px;
      height: 48px;
    }

    &__comment {
      border: 1px solid #E4E7E9;
      padding: 12px 25px 12px 16px;
      max-width: 100%;
      min-width: 100%;
      max-height: 140px;
      min-height: 140px;
      height: 140px;
      transition: all .3s;

      &:focus {
        outline: none;
        border: 1px solid var(--blue-color);
      }
    }

    &__input {
      border: 1px solid #E4E7E9;

      &:focus {
        border: 1px solid var(--blue-color);
      }
    }

    &__btn {
      padding: 16px 50px;
      margin-top: 25px;

      &:focus {
        outline: 2px solid var(--blue-color);
        outline-offset: 4px;
        transition: none;
      }

    }
  }
}
