.shipping {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    border-bottom: 1px solid #C4CDD5;
    padding-bottom: 40px;
  }

  &__item {
    position: relative;

    &:nth-child(1) {
      .shipping__number {
        background-color: #445ECC;
      }
    }

    &:nth-child(2) {
      .shipping__number {
        background-color: #000;
      }
    }

    &:nth-child(3) {
      .shipping__number {
        background-color: #00B33C;
      }
    }
  }

  &__number {
    position: absolute;
    top: -26px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 53px;
  }

  &__image {
    margin-bottom: 16px;
  }

  &__picture {
    display: flex;
  }

  &__checkboxes-item {
    .custom-checkbox {
      display: inline-flex;

    }

    .custom-checkbox__text {
      padding-left: 24px;
      font-size: 14px;
      line-height: 19px;
      color: var(--gray-color);

      &::before {
        top: 2px;
        border-radius: 2px;
        margin-left: -24px;
        width: 14px;
        height: 14px;
      }
    }

    .custom-checkbox--active .custom-checkbox__text::after {
      top: 5px;
      left: 3px;
    }
  }

  &__checkboxes-item + &__checkboxes-item {
    margin-top: 12px;
  }
}

.delivery-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;

}

.shipping__title {
  margin-bottom: 50px;
}
