<section class="advantages">
  <div class="container advantages__container">
    <h2 class="advantages__title title">Почему GoldenService?</h2>
    <ul class="advantages__list list-reset">
      <li class="advantages__item" data-aos="adv-left">
        <div class="advantages__image">
          <svg class="">
            <use xlink:href="img/sprite.svg#advantages-1"></use>
          </svg>
        </div>
        <p class="advantages__descr">
          Возврат удвоенной стоимости каждого замка в случае брака.
        </p>
      </li>
      <li class="advantages__item" data-aos="adv-center">
        <div class="advantages__image">
          <svg class="">
            <use xlink:href="img/sprite.svg#advantages-2"></use>
          </svg>
        </div>
        <p class="advantages__descr advantages__descr-center">
          Наносим ваш логотип компании на наш продукт
        </p>
      </li>
      <li class="advantages__item" data-aos="adv-right">
        <div class="advantages__image">
          <svg class="">
            <use xlink:href="img/sprite.svg#advantages-1"></use>
          </svg>
        </div>
        <p class="advantages__descr">
          Возврат удвоенной стоимости каждого замка в случае брака.
        </p>
      </li>
    </ul>
  </div>
</section>
