<section class="application">
  <div class="container application__container">
    <h1 class="visually-hidden">Оптовая продажа</h1>
    <div class="application__left">
      <h2 class="application__title title">Оформите заявку и мы вам перезвоним</h2>
      <p class="application__descr">
        Vitae, urna, massa dictumst morbi ut id dui nulla. Purus a velit sem viverra. Nunc ac quis donec nunc eu blandit
        ante nibh. Sit felis nulla donec mauris quis nulla velit.
      </p>
    </div>
    <div class="application__right">
      <h3 class="application__right-title">Оформление заявки</h3>
      <form class="application__form" action="#">
        <div class="application__inputs">
          <label class="application__label">
            <span class="application__text">Имя</span>
            <input class="application__input input-reset input-form input-name" type="text" name="Имя"  placeholder="Ваше имя">
          </label>
          <label class="application__label">
            <span class="application__text">Название компании</span>
            <input class="application__input input-reset input-form input-company" type="text" name="Имя"  placeholder="Имя Вашей компании">
          </label>
          <label class="application__label">
            <span class="application__text">Номер телефона</span>
            <input class="application__input input-reset input-form input-tel" type="tel" name="Телефон"  placeholder="+7 (_ _ _) _ _  _ _  _ _ _">
          </label>
          <label class="application__label application__search">
            <span class="application__text">Название товара</span>
            <input class="application__input input-reset input-form input-product" type="text" name="Название"  placeholder="Введите название или артикул товара">
          </label>
          <label class="application__label">
            <span class="application__text">Количество</span>
            <input class="application__input input-reset input-form input-count" type="text" name="Количество"  placeholder="Количество товара">
          </label>
        </div>
        <ul class="application__list list-reset">
          <li class="application__item">
            <label class="custom-checkbox custom-checkbox--active">
              <input class="custom-checkbox__input visually-hidden" type="checkbox" checked>
              <span class="custom-checkbox__text">Нанесение персонального логотипа (бесплатно)</span>
            </label>
          </li>
          <li class="application__item">
            <label class="custom-checkbox custom-checkbox--active">
              <input class="custom-checkbox__input visually-hidden" type="checkbox" checked>
              <span class="custom-checkbox__text">Помощь в монтажных работах (бесплатно)</span>
            </label>
          </li>
        </ul>
        <div class="application__bottom">
          <span>Приблизительная стоимость</span>
          <button class="application__btn btn-reset main-btn" data-graph-path="wholesale-modal">Отправить заявку</button>
        </div>
      </form>
    </div>
  </div>
</section>
