<section class="callback">
  <div class="container callback__container">
    <h2 class="callback__title title">Мы вам перезвоним</h2>
    <div class="text-center">
      <p class="callback__descr">
        Если у вас возникли какие-то вопросы или проблемы, заполните форму и мы Вам перезвоним.
      </p>
    </div>
    <form action="#" class="callback__form form">
      <label class="form__label">
        <input type="text" name="Имя" class="form__input input-reset input-form input-name" placeholder="Ваше имя">
      </label>
      <label class="form__label">
        <input type="email" name="E-mail" class="form__input input-reset input-form input-email" placeholder="Ваш Email">
      </label>
      <button class="btn-reset form__btn main-btn" data-graph-path="wholesale-modal">Отправить</button>
    </form>
  </div>
</section>
