<div class="graph-modal popup">
  <div class="graph-modal__container popup__container" role="dialog" aria-modal="true" data-graph-target="cart-modal">
    <div class="popup__top">
      <h4 class="popup__title">Корзина</h4>
      <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.6673 1.33331L1.33398 14.6666M14.6673 14.6666L1.33398 1.33331L14.6673 14.6666Z" stroke="#181818"
            stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="graph-modal__content popup__content">
      <div class="popup__product">
        <ul class="popup__list list-reset">
          <li class="popup__item">

          </li>
        </ul>
        <p class="popup__total">
          Итого <span class="popup__total-price">66 000</span>
        </p>
        <div class="popup__buttons">
          <a class="popup__link main-btn" href="#">Оформить заказ</a>
          <button class="popup__continue btn-reset">Продолжить покупки</button>
        </div>
      </div>
    </div>
  </div>
</div>
