<!-- <section class="catalog-product">
  <div class="container catalog-product__container">
    <h2 class="catalog-product__title title">Накладные электронные замки</h2>

  </div>
</section> -->

<div class="catalog-product__left">
  <button class="reset-filters btn-reset">Сбросить фильтры</button>
  <div class="catalog-product__filter filters">
    <strong class="filters__subject">Фильтр</strong>
    <div class="filters__content filters__content--open">
      <div class="filters__top" role="button" aria-expanded="true" aria-label="Закрыть">
        <h4 class="filters__title">Цена</h4>
        <span class="filters__close">
          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 1L7 7L1 1" stroke="#938A9F" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </div>
      <div class="filters__bottom" aria-hidden="false">
        <div class="filters__inputs">
          <label class="filters__label">
            <input class="filters__input input-reset" type="number" min="500" max="200000" placeholder="500"
              id="input-0">
          </label>
          <label class="filters__label">
            <input class="filters__input input-reset" type="number" min="500" max="200000" placeholder="999999"
              id="input-1">
          </label>
        </div>
        <div class="filters__slider" id="range-slider"></div>
      </div>
    </div>
    <div class="filters__content filters__content--open">
      <div class="filters__top" role="button" aria-expanded="true" aria-label="Закрыть фильтр">
        <h4 class="filters__title">Особенности</h4>
        <span class="filters__close">
          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 1L7 7L1 1" stroke="#938A9F" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </div>
      <div class="filters__bottom" aria-hidden="false">
        <ul class="filters__list list-reset">
          <li class="filters__item">
            <label class="custom-checkbox custom-checkbox--active">
              <input class="custom-checkbox__input visually-hidden" type="checkbox" checked>
              <span class="custom-checkbox__text">Электронные кодовые
                замки </span>
            </label>
          </li>
          <li class="filters__item">
            <label class="custom-checkbox">
              <input class="custom-checkbox__input visually-hidden" type="checkbox">
              <span class="custom-checkbox__text">Биометрические замки </span>
            </label>
          </li>
          <li class="filters__item">
            <label class="custom-checkbox">
              <input class="custom-checkbox__input visually-hidden" type="checkbox">
              <span class="custom-checkbox__text">Замок с отппечатком </span>
            </label>
          </li>
          <li class="filters__item">
            <label class="custom-checkbox">
              <input class="custom-checkbox__input visually-hidden" type="checkbox">
              <span class="custom-checkbox__text">Замок с бесконтактной картой </span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="filters__content filters__content">
      <div class="filters__top" role="button" aria-expanded="false" aria-label="Открыть фильтр">
        <h4 class="filters__title">Цвет</h4>
        <span class="filters__close">
          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 1L7 7L1 1" stroke="#938A9F" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </div>
      <div class="filters__bottom" aria-hidden="true">
        content
      </div>
    </div>
    <div class="filters__content filters__content">
      <div class="filters__top" role="button" aria-expanded="false" aria-label="Открыть фильтр">
        <h4 class="filters__title">Материал</h4>
        <span class="filters__close">
          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 1L7 7L1 1" stroke="#938A9F" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </div>
      <div class="filters__bottom" aria-hidden="true">
        content
      </div>
    </div>
    <div class="filters__content filters__content">
      <div class="filters__top" role="button" aria-expanded="false" aria-label="Открыть фильтр">
        <h4 class="filters__title">Размеры</h4>
        <span class="filters__close">
          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 1L7 7L1 1" stroke="#938A9F" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </div>
      <div class="filters__bottom" aria-hidden="true">
        content
      </div>
    </div>
  </div>
</div>
