<!-- <section class="catalog-product">
  <div class="container catalog-product__container">
    <h2 class="catalog-product__title title">Накладные электронные замки</h2>

  </div>
</section> -->

<div class="catalog-product__right catalog-grid">
  <div class="catalog-grid__props catalog-props">
    <button class="catalog-props__btn btn-reset">
      Электронные кодовые замки
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 1L1 9M9 9L1 1L9 9Z" stroke="#E44286" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>

  </div>
  <ul class="catalog-grid__list list-reset">
    <li class="catalog-grid__item">
      <article class="product">
        <span class="product__sale">Sale</span>
        <span class="product__instock">
          В наличии
          <span></span>
        </span>
        <span class="product__gift">Подарок</span>
        <div class="product__image">
          <picture>
            <source srcset="img/product-1.avif" type="image/avif">
            <source srcset="img/product-1.webp" type="image/webp">
            <img loading="lazy" src="img/product-1.png" class="product__img" width="288" height="320"
              alt="Дверной Замок Golden Soft">
          </picture>
        </div>
        <div class="product__content">
          <div class="rating">
            <div class="rating__group">
              <input class="rating__star" id="rating__5" name="rating" type="radio" value="1" aria-label="Ужасно" >
              <label class="rating__label" for="rating__5"></label>
              <input class="rating__star" id="rating__4" name="rating" type="radio" value="2" aria-label="Сносно">
              <label class="rating__label" for="rating__4"></label>
              <input class="rating__star" id="rating__3" name="rating" type="radio" value="3" aria-label="Нормально" checked>
              <label class="rating__label" for="rating__3"></label>
              <input class="rating__star" id="rating__2" name="rating" type="radio" value="4" aria-label="Хорошо">
              <label class="rating__label" for="rating__2"></label>
              <input class="rating__star" id="rating__1" name="rating" type="radio" value="5" aria-label="Отлично">
              <label class="rating__label" for="rating__1"></label>
            </div>
          </div>
            <h3 class="product__title">
              <a href="#">
                Дверной Замок Golden Soft для отеля
              </a>
            </h3>
            <div class="product-custom">
              <div class="product-custom__price">
                <span class="product__newprice">33 000₽</span>
                <span class="product__oldprice">37 000₽</span>
              </div>
              <div class="product-custom__cart">
                <button class="to-cart btn-reset">Добавить в корзину</button>
              </div>
            </div>
          </div>
      </article>
    </li>
    <li class="catalog-grid__item">
      <article class="product">
        <span class="product__sale">Sale</span>
        <span class="product__instock">
          В наличии
          <span></span>
        </span>
        <span class="product__gift">Подарок</span>
        <div class="product__image">
          <picture>
            <source srcset="img/product-1.avif" type="image/avif">
            <source srcset="img/product-1.webp" type="image/webp">
            <img loading="lazy" src="img/product-1.png" class="product__img" width="288" height="320"
              alt="Дверной Замок Golden Soft">
          </picture>
        </div>
        <div class="product__content">
          <div class="rating">
            <div class="rating__group">
              <input class="rating__star" id="rating__5" name="rating" type="radio" value="1" aria-label="Ужасно" >
              <label class="rating__label" for="rating__5"></label>
              <input class="rating__star" id="rating__4" name="rating" type="radio" value="2" aria-label="Сносно">
              <label class="rating__label" for="rating__4"></label>
              <input class="rating__star" id="rating__3" name="rating" type="radio" value="3" aria-label="Нормально" checked>
              <label class="rating__label" for="rating__3"></label>
              <input class="rating__star" id="rating__2" name="rating" type="radio" value="4" aria-label="Хорошо">
              <label class="rating__label" for="rating__2"></label>
              <input class="rating__star" id="rating__1" name="rating" type="radio" value="5" aria-label="Отлично">
              <label class="rating__label" for="rating__1"></label>
            </div>
          </div>
          <h3 class="product__title">
            <a href="#">
              Дверной Замок Golden Soft для отеля
            </a>
          </h3>
          <div class="product-custom">
            <div class="product-custom__price">
              <span class="product__newprice">33 000₽</span>
              <span class="product__oldprice">37 000₽</span>
            </div>
            <div class="product-custom__cart">
              <button class="to-cart btn-reset">Добавить в корзину</button>
            </div>
          </div>
        </div>
      </article>
    </li>
    <li class="catalog-grid__item">
      <article class="product">
        <span class="product__sale">Sale</span>
        <span class="product__instock">
          В наличии
          <span></span>
        </span>
        <span class="product__gift">Подарок</span>
        <div class="product__image">
          <picture>
            <source srcset="img/product-1.avif" type="image/avif">
            <source srcset="img/product-1.webp" type="image/webp">
            <img loading="lazy" src="img/product-1.png" class="product__img" width="288" height="320"
              alt="Дверной Замок Golden Soft">
          </picture>
        </div>
        <div class="product__content">
          <div class="rating">
            <div class="rating__group">
              <input class="rating__star" id="rating__5" name="rating" type="radio" value="1" aria-label="Ужасно" >
              <label class="rating__label" for="rating__5"></label>
              <input class="rating__star" id="rating__4" name="rating" type="radio" value="2" aria-label="Сносно">
              <label class="rating__label" for="rating__4"></label>
              <input class="rating__star" id="rating__3" name="rating" type="radio" value="3" aria-label="Нормально" checked>
              <label class="rating__label" for="rating__3"></label>
              <input class="rating__star" id="rating__2" name="rating" type="radio" value="4" aria-label="Хорошо">
              <label class="rating__label" for="rating__2"></label>
              <input class="rating__star" id="rating__1" name="rating" type="radio" value="5" aria-label="Отлично">
              <label class="rating__label" for="rating__1"></label>
            </div>
          </div>
          <h3 class="product__title">
            <a href="#">
              Дверной Замок Golden Soft для отеля
            </a>
          </h3>
          <div class="product-custom">
            <div class="product-custom__price">
              <span class="product__newprice">33 000₽</span>
              <span class="product__oldprice">37 000₽</span>
            </div>
            <div class="product-custom__cart">
              <button class="to-cart btn-reset">Добавить в корзину</button>
            </div>
          </div>
        </div>
      </article>
    </li>
    <li class="catalog-grid__item">
      <article class="product">
        <span class="product__sale">Sale</span>
        <span class="product__instock">
          В наличии
          <span></span>
        </span>
        <span class="product__gift">Подарок</span>
        <div class="product__image">
          <picture>
            <source srcset="img/product-1.avif" type="image/avif">
            <source srcset="img/product-1.webp" type="image/webp">
            <img loading="lazy" src="img/product-1.png" class="product__img" width="288" height="320"
              alt="Дверной Замок Golden Soft">
          </picture>
        </div>
        <div class="product__content">
          <div class="rating">
            <div class="rating__group">
              <input class="rating__star" id="rating__5" name="rating" type="radio" value="1" aria-label="Ужасно" >
              <label class="rating__label" for="rating__5"></label>
              <input class="rating__star" id="rating__4" name="rating" type="radio" value="2" aria-label="Сносно">
              <label class="rating__label" for="rating__4"></label>
              <input class="rating__star" id="rating__3" name="rating" type="radio" value="3" aria-label="Нормально" checked>
              <label class="rating__label" for="rating__3"></label>
              <input class="rating__star" id="rating__2" name="rating" type="radio" value="4" aria-label="Хорошо">
              <label class="rating__label" for="rating__2"></label>
              <input class="rating__star" id="rating__1" name="rating" type="radio" value="5" aria-label="Отлично">
              <label class="rating__label" for="rating__1"></label>
            </div>
          </div>
          <h3 class="product__title">
            <a href="#">
              Дверной Замок Golden Soft для отеля
            </a>
          </h3>
          <div class="product-custom">
            <div class="product-custom__price">
              <span class="product__newprice">33 000₽</span>
              <span class="product__oldprice">37 000₽</span>
            </div>
            <div class="product-custom__cart">
              <button class="to-cart btn-reset">Добавить в корзину</button>
            </div>
          </div>
        </div>
      </article>
    </li>
    <li class="catalog-grid__item">
      <article class="product">
        <span class="product__sale">Sale</span>
        <span class="product__instock">
          В наличии
          <span></span>
        </span>
        <span class="product__gift">Подарок</span>
        <div class="product__image">
          <picture>
            <source srcset="img/product-1.avif" type="image/avif">
            <source srcset="img/product-1.webp" type="image/webp">
            <img loading="lazy" src="img/product-1.png" class="product__img" width="288" height="320"
              alt="Дверной Замок Golden Soft">
          </picture>
        </div>
        <div class="product__content">
          <div class="rating">
            <div class="rating__group">
              <input class="rating__star" id="rating__5" name="rating" type="radio" value="1" aria-label="Ужасно" >
              <label class="rating__label" for="rating__5"></label>
              <input class="rating__star" id="rating__4" name="rating" type="radio" value="2" aria-label="Сносно">
              <label class="rating__label" for="rating__4"></label>
              <input class="rating__star" id="rating__3" name="rating" type="radio" value="3" aria-label="Нормально" checked>
              <label class="rating__label" for="rating__3"></label>
              <input class="rating__star" id="rating__2" name="rating" type="radio" value="4" aria-label="Хорошо">
              <label class="rating__label" for="rating__2"></label>
              <input class="rating__star" id="rating__1" name="rating" type="radio" value="5" aria-label="Отлично">
              <label class="rating__label" for="rating__1"></label>
            </div>
          </div>
          <h3 class="product__title">
            <a href="#">
              Дверной Замок Golden Soft для отеля
            </a>
          </h3>
          <div class="product-custom">
            <div class="product-custom__price">
              <span class="product__newprice">33 000₽</span>
              <span class="product__oldprice">37 000₽</span>
            </div>
            <div class="product-custom__cart">
              <button class="to-cart btn-reset">Добавить в корзину</button>
            </div>
          </div>
        </div>
      </article>
    </li>
    <li class="catalog-grid__item">
      <article class="product">
        <span class="product__sale">Sale</span>
        <span class="product__instock">
          В наличии
          <span></span>
        </span>
        <span class="product__gift">Подарок</span>
        <div class="product__image">
          <picture>
            <source srcset="img/product-1.avif" type="image/avif">
            <source srcset="img/product-1.webp" type="image/webp">
            <img loading="lazy" src="img/product-1.png" class="product__img" width="288" height="320"
              alt="Дверной Замок Golden Soft">
          </picture>
        </div>
        <div class="product__content">
          <div class="rating">
            <div class="rating__group">
              <input class="rating__star" id="rating__5" name="rating" type="radio" value="1" aria-label="Ужасно" >
              <label class="rating__label" for="rating__5"></label>
              <input class="rating__star" id="rating__4" name="rating" type="radio" value="2" aria-label="Сносно">
              <label class="rating__label" for="rating__4"></label>
              <input class="rating__star" id="rating__3" name="rating" type="radio" value="3" aria-label="Нормально" checked>
              <label class="rating__label" for="rating__3"></label>
              <input class="rating__star" id="rating__2" name="rating" type="radio" value="4" aria-label="Хорошо">
              <label class="rating__label" for="rating__2"></label>
              <input class="rating__star" id="rating__1" name="rating" type="radio" value="5" aria-label="Отлично">
              <label class="rating__label" for="rating__1"></label>
            </div>
          </div>
          <h3 class="product__title">
            <a href="#">
              Дверной Замок Golden Soft для отеля
            </a>
          </h3>
          <div class="product-custom">
            <div class="product-custom__price">
              <span class="product__newprice">33 000₽</span>
              <span class="product__oldprice">37 000₽</span>
            </div>
            <div class="product-custom__cart">
              <button class="to-cart btn-reset">Добавить в корзину</button>
            </div>
          </div>
        </div>
      </article>
    </li>
  </ul>
  <ul class="catalog-grid__pagination list-reset"></ul>
</div>
