<section class="catalog-descr">
  <div class="container catalog-descr__container">
    <div class="catalog-descr__top descr-top">
      <div class="descr-top__left">
        <h3 class="descr-top__title descr-title">Eget quis quam metus, scelerisque.</h3>
        <p class="descr-top__text descr-text">Odio felis sit leo, massa, mauris, at pulvinar ultrices. Eu porttitor molestie massa
          porttitor. Quisque at turpis ut proin eu et magna etiam rhoncus.
        </p>
        <ul class="descr-top__list list-reset">
          <li class="descr-top__item">
            <label class="custom-checkbox custom-checkbox--active">
              <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
              <span class="custom-checkbox__text">Межкомнатную дверь</span>
            </label>
          </li>
          <li class="descr-top__item">
            <label class="custom-checkbox custom-checkbox--active">
              <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
              <span class="custom-checkbox__text">Межкомнатную дверь</span>
            </label>
          </li>
          <li class="descr-top__item">
            <label class="custom-checkbox custom-checkbox--active">
              <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
              <span class="custom-checkbox__text">Деревянную дверь</span>
            </label>
          </li>
          <li class="descr-top__item">
            <label class="custom-checkbox custom-checkbox--active">
              <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
              <span class="custom-checkbox__text">Деревянную дверь</span>
            </label>
          </li>
        </ul>
        <p class="descr-top__text descr-text">Ac risus neque pulvinar tincidunt est. Tristique imperdiet viverra interdum in leo.
          Nullam ullamcorper id enim fermentum integer praesent bibendum. In ullamcorper purus scelerisque malesuada et
          egestas. Ac dictumst mauris sed facilisis.
        </p>
      </div>
      <div class="descr-top__right">
        <picture>
          <source srcset="img/descr-1.avif" type="image/avif">
          <source srcset="img/descr-1.webp" type="image/webp">
          <img loading="lazy" src="img/descr-1.png" class="image" width="605" height="564" alt="">
        </picture>
      </div>
    </div>
    <div class="catalog-descr__bottom descr-bottom">
      <div class="descr-bottom__left">
        <picture>
          <source srcset="img/descr-2.avif" type="image/avif">
          <source srcset="img/descr-2.webp" type="image/webp">
          <img loading="lazy" src="img/descr-2.png" class="image" width="605" height="564" alt="">
        </picture>
      </div>
      <div class="descr-bottom__right">
        <h3 class="descr-bottom__title descr-title">Eget quis quam metus, scelerisque.</h3>
        <p class="descr-bottom__text descr-text">Odio felis sit leo, massa, mauris, at pulvinar ultrices. Eu porttitor molestie massa
          porttitor. Quisque at turpis ut proin eu et magna etiam rhoncus.
        </p>
        <p class="descr-bottom__text descr-text">Ac risus neque pulvinar tincidunt est. Tristique imperdiet viverra interdum in leo.
          Nullam ullamcorper id enim fermentum integer praesent bibendum. In ullamcorper purus scelerisque malesuada et
          egestas. Ac dictumst mauris sed facilisis.
        </p>
      </div>
    </div>
  </div>
</section>
