<section class="catalog-categories">
  <div class="container catalog-categories__container">
    <h2 class="catalog-categories__title title">Категории</h2>
    <ul class="catalog-categories__list list-reset">
      <a href="#">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-1.avif" type="image/avif">
              <source srcset="img/catalog-1.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-1.png" class="image" width="288" height="300" alt="">
            </picture>
          </div>
          <div class="text-center">
            <span>Накладные электронные замки</span>
          </div>
        </li>
      </a>
      <a href="#">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-1.avif" type="image/avif">
              <source srcset="img/catalog-1.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-1.png" class="image" width="288" height="300" alt="">
            </picture>
          </div>
          <div class="text-center">
            <span>Накладные электронные замки</span>
          </div>
        </li>
      </a>
      <a href="#">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-1.avif" type="image/avif">
              <source srcset="img/catalog-1.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-1.png" class="image" width="288" height="300" alt="">
            </picture>
          </div>
          <div class="text-center">
            <span>Накладные электронные замки</span>
          </div>
        </li>
      </a>
      <a href="#">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-1.avif" type="image/avif">
              <source srcset="img/catalog-1.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-1.png" class="image" width="288" height="300" alt="">
            </picture>
          </div>
          <div class="text-center">
            <span>Накладные электронные замки</span>
          </div>
        </li>
      </a>
      <a href="#">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-1.avif" type="image/avif">
              <source srcset="img/catalog-1.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-1.png" class="image" width="288" height="300" alt="">
            </picture>
          </div>
          <div class="text-center">
            <span>Накладные электронные замки</span>
          </div>
        </li>
      </a>
      <a href="#">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-1.avif" type="image/avif">
              <source srcset="img/catalog-1.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-1.png" class="image" width="288" height="300" alt="">
            </picture>
          </div>
          <div class="text-center">
            <span>Накладные электронные замки</span>
          </div>
        </li>
      </a>
      <a href="#">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-1.avif" type="image/avif">
              <source srcset="img/catalog-1.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-1.png" class="image" width="288" height="300" alt="">
            </picture>
          </div>
          <div class="text-center">
            <span>Накладные электронные замки</span>
          </div>
        </li>
      </a>
      <a href="#">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-1.avif" type="image/avif">
              <source srcset="img/catalog-1.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-1.png" class="image" width="288" height="300" alt="">
            </picture>
          </div>
          <div class="text-center">
            <span>Накладные электронные замки</span>
          </div>
        </li>
      </a>
    </ul>
    <div class="text-center">
      <button class="catalog-categories__btn btn-reset main-btn">Смотреть все</button>
    </div>
  </div>
</section>
