<section class="catalog-categories">
  <div class="container catalog-categories__container">
    <h2 class="catalog-categories__title title">Категории</h2>
    <ul class="catalog-categories__list list-reset">
      <a href="catalog.html">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-mob-1.avif" type="image/avif" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-1.webp" type="image/webp" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-1.png" media="(max-width: 476px)">
              <source srcset="img/catalog-1.avif" type="image/avif">
              <source srcset="img/catalog-1.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-1.png" class="image" width="288" height="300" alt="Накладные электронные замки">
            </picture>
          </div>
          <div class="text-center">
            <span>Накладные электронные замки</span>
          </div>
        </li>
      </a>
      <a href="catalog.html">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-mob-2.avif" type="image/avif" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-2.webp" type="image/webp" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-2.png" media="(max-width: 476px)">
              <source srcset="img/catalog-2.avif" type="image/avif">
              <source srcset="img/catalog-2.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-2.png" class="image" width="288" height="300" alt="Врезные электроные замки">
            </picture>
          </div>
          <div class="text-center">
            <span>Врезные электроные замки</span>
          </div>
        </li>
      </a>
      <a href="catalog.html">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-mob-3.avif" type="image/avif" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-3.webp" type="image/webp" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-3.png" media="(max-width: 476px)">
              <source srcset="img/catalog-3.avif" type="image/avif">
              <source srcset="img/catalog-3.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-3.png" class="image" width="288" height="300" alt="Замки для квартиры">
            </picture>
          </div>
          <div class="text-center">
            <span>Замки для квартиры</span>
          </div>
        </li>
      </a>
      <a href="catalog.html">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-mob-4.avif" type="image/avif" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-4.webp" type="image/webp" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-4.png" media="(max-width: 476px)">
              <source srcset="img/catalog-4.avif" type="image/avif">
              <source srcset="img/catalog-4.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-4.png" class="image" width="288" height="300" alt="Замки для дома">
            </picture>
          </div>
          <div class="text-center">
            <span>Замки для дома</span>
          </div>
        </li>
      </a>
      <a href="catalog.html">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-mob-5.avif" type="image/avif" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-5.webp" type="image/webp" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-5.png" media="(max-width: 476px)">
              <source srcset="img/catalog-5.avif" type="image/avif">
              <source srcset="img/catalog-5.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-5.png" class="image" width="288" height="300" alt="Замки для отелей">
            </picture>
          </div>
          <div class="text-center">
            <span>Замки для отелей</span>
          </div>
        </li>
      </a>
      <a href="catalog.html">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-mob-6.avif" type="image/avif" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-6.webp" type="image/webp" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-6.png" media="(max-width: 476px)">
              <source srcset="img/catalog-6.avif" type="image/avif">
              <source srcset="img/catalog-6.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-6.png" class="image" width="288" height="300" alt="Замки для офиса">
            </picture>
          </div>
          <div class="text-center">
            <span>Замки для офиса</span>
          </div>
        </li>
      </a>
      <a href="catalog.html">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-mob-7.avif" type="image/avif" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-7.webp" type="image/webp" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-7.png" media="(max-width: 476px)">
              <source srcset="img/catalog-7.avif" type="image/avif">
              <source srcset="img/catalog-7.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-7.png" class="image" width="288" height="300" alt="Замки для шкафчиков">
            </picture>
          </div>
          <div class="text-center">
            <span>Замки для шкафчиков</span>
          </div>
        </li>
      </a>
      <a href="catalog.html">
        <li class="catalog-categories__item">
          <div class="catalog-categories__image">
            <picture>
              <source srcset="img/catalog-mob-8.avif" type="image/avif" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-8.webp" type="image/webp" media="(max-width: 476px)">
              <source srcset="img/catalog-mob-8.png" media="(max-width: 476px)">
              <source srcset="img/catalog-8.avif" type="image/avif">
              <source srcset="img/catalog-8.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-8.png" class="image" width="288" height="300" alt="Замки для раздевалок">
            </picture>
          </div>
          <div class="text-center">
            <span>Замки для раздевалок</span>
          </div>
        </li>
      </a>
    </ul>
    <div class="text-center">
      <button class="catalog-categories__btn btn-reset main-btn">Смотреть все</button>
    </div>
  </div>
</section>
