<section class="categories">
  <div class="container categories__container">
    <h2 class="categories__title title">Категории</h2>
    <ul class="categories__list list-reset">
      <li class="categories__item">
        <div class="categories__content">
          <strong class="categories__text">Для отелей</strong>
          <a class="categories__link" href="catalog.html">Перейти</a>
        </div>
        <div class="categories__image">
          <picture>
            <source srcset="img/item-mob-1.avif" type="image/avif" media="(max-width: 882px)">
            <source srcset="img/item-mob-1.webp" type="image/webp" media="(max-width: 882px)">
            <source srcset="img/item-mob-1.png" media="(max-width: 882px)">
            <source srcset="img/item-1.avif" type="image/avif">
            <source srcset="img/item-1.webp" type="image/webp">
            <img loading="lazy" src="img/item-1.png" class="image" width="290" height="320" alt="Замки для отелей">
          </picture>
        </div>
        <a href="catalog.html"></a>
      </li>
      <li class="categories__item">
        <div class="categories__content">
          <strong class="categories__text">Для шкафчиков</strong>
          <a class="categories__link" href="catalog.html">Перейти</a>
        </div>
        <div class="categories__image">
          <picture>
            <source srcset="img/item-mob-2.avif" type="image/avif" media="(max-width: 882px)">
            <source srcset="img/item-mob-2.webp" type="image/webp" media="(max-width: 882px)">
            <source srcset="img/item-mob-2.png" media="(max-width: 882px)">
            <source srcset="img/item-2.avif" type="image/avif">
            <source srcset="img/item-2.webp" type="image/webp">
            <img loading="lazy" src="img/item-2.png" class="image" width="210" height="304" alt="Замки для шкафчиков">
          </picture>
        </div>
        <a href="catalog.html"></a>
      </li>
      <li class="categories__item">
        <div class="categories__content">
          <strong class="categories__text">Для офисов</strong>
          <a class="categories__link" href="catalog.html">Перейти</a>
        </div>
        <div class="categories__image">
          <picture>
            <source srcset="img/item-mob-3.avif" type="image/avif" media="(max-width: 882px)">
            <source srcset="img/item-mob-3.webp" type="image/webp" media="(max-width: 882px)">
            <source srcset="img/item-mob-3.png" media="(max-width: 882px)">
            <source srcset="img/item-3.avif" type="image/avif">
            <source srcset="img/item-3.webp" type="image/webp">
            <img loading="lazy" src="img/item-3.png" class="image" width="295" height="243" alt="Замки для офисов">
          </picture>
        </div>
        <a href="catalog.html"></a>
      </li>
      <li class="categories__item">
        <div class="categories__content">
          <strong class="categories__text">Замки для дома</strong>
          <a class="categories__link" href="catalog.html">Перейти</a>
        </div>
        <div class="categories__image">
          <picture>
            <source srcset="img/item-mob-4.avif" type="image/avif" media="(max-width: 882px)">
            <source srcset="img/item-mob-4.webp" type="image/webp" media="(max-width: 882px)">
            <source srcset="img/item-mob-4.png" media="(max-width: 882px)">
            <source srcset="img/item-4.avif" type="image/avif">
            <source srcset="img/item-4.webp" type="image/webp">
            <img loading="lazy" src="img/item-4.png" class="image" width="202" height="347" alt="Замки для дома">
          </picture>
        </div>
        <a href="catalog.html"></a>
      </li>
    </ul>
    <div class="categories__center">
      <a class="categories__btn main-btn" href="categories.html">Все категории</a>
    </div>
  </div>
</section>
