<section class="guarantee" id="guarantee">
  <div class="container guarantee__container">
    <h2 class="guarantee__title delivery-title">Гарантии</h2>
    <strong class="guarantee__subject">На все товары, приобретенные в нашем магазине, предоставляется гарантия, дающая
      право на:</strong>
    <ul class="guarantee__list list-reset">
      <li class="guarantee__item"><span>обмен или возврат товара в срок до 14 дней с момента приобретения;</span></li>
      <li class="guarantee__item"><span>обмен или возврат товара на основании акта, выданного Авторизованным сервисным центром
        по результатам гарантийного обслуживания (в соответствии с Законом РФ «О защите прав потребителей»).</span>
      </li>
    </ul>
  </div>
</section>
