<header class="header">
  <div class="container header__container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img loading="lazy" src="img/svg/logo.svg" class="logo__image" width="50" height="42" alt="logo">
      </a>
      <nav class="nav" title="Главное меню">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link" href="#">Главная</a></li>
          <li class="nav__item"><a class="nav__link nav__link-catalog nav__link-catalog--open" href="#">Каталог</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Оптовая продажа</a></li>
          <li class="nav__item"><a class="nav__link" href="#">О нас</a></li>
        </ul>
      </nav>
      <div class="header__item">
        <a class="header__phone" href="tel: +79665588499">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          +7 (966) 55 88 499
        </a>
        <span class="header__favorites favorites"></span>
        <span class="header__basket basket"></span>
      </div>
    </div>
  </div>
</header>
