<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">Магазин замков</h1>
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__item">
            <div class="hero__image">
              <picture>
                <source srcset="img/hero.avif" type="image/avif">
                <source srcset="img/hero.webp" type="image/webp">
                <img loading="lazy" src="img/hero.png" class="image" width="509" height="515" alt="Golden Soft GS-200Z-5">
              </picture>
            </div>
            <div class="hero__content">
              <h2 class="hero__title title">Golden Soft
                <span>GS-200Z-5 для офиса</span>
              </h2>
              <p class="hero__descr descr-one">Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный глянцевый блеск,
                четкие линии, красивые формы.</p>
              <p class="hero__descr descr-two">Подходит для установки на деревянную/межкомнатную дверь.</p>
              <span class="hero__text">Цена</span>
              <div class="hero__prices">
                <span class="hero__newprice">33 000₽</span>
                <span class="hero__oldprice">37 000₽</span>
              </div>
              <button class="hero__btn btn-reset main-btn">Добавить в корзину</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__item">
            <div class="hero__image">
              <picture>
                <source srcset="img/hero.avif" type="image/avif">
                <source srcset="img/hero.webp" type="image/webp">
                <img loading="lazy" src="img/hero.png" class="image" width="509" height="515" alt="Golden Soft GS-200Z-5">
              </picture>
            </div>
            <div class="hero__content">
              <h2 class="hero__title title">Golden Soft GS-200Z-5 для офиса</h2>
              <p class="hero__descr descr-one">Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный глянцевый блеск,
                четкие линии, красивые формы.</p>
              <p class="hero__descr descr-two">Подходит для установки на деревянную/межкомнатную дверь.</p>
              <span class="hero__text">Цена</span>
              <div class="hero__prices">
                <span class="hero__newprice">33 000₽</span>
                <span class="hero__oldprice">37 000₽</span>
              </div>
              <button class="hero__btn btn-reset main-btn">Добавить в корзину</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__item">
            <div class="hero__image">
              <picture>
                <source srcset="img/hero.avif" type="image/avif">
                <source srcset="img/hero.webp" type="image/webp">
                <img loading="lazy" src="img/hero.png" class="image" width="509" height="515" alt="Golden Soft GS-200Z-5">
              </picture>
            </div>
            <div class="hero__content">
              <h2 class="hero__title title">Golden Soft GS-200Z-5 для офиса</h2>
              <p class="hero__descr descr-one">Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный глянцевый блеск,
                четкие линии, красивые формы.</p>
              <p class="hero__descr descr-two">Подходит для установки на деревянную/межкомнатную дверь.</p>
              <span class="hero__text">Цена</span>
              <div class="hero__prices">
                <span class="hero__newprice">33 000₽</span>
                <span class="hero__oldprice">37 000₽</span>
              </div>
              <button class="hero__btn btn-reset main-btn">Добавить в корзину</button>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__pagination"></div>
      <div class="hero__navigation">
        <button class="hero-btn-prev btn-reset focus-offset" aria-label="Предыдущий слайд">
          <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.332 22.6667L1.66536 12L12.332 1.33332" stroke="#161C24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <button class="hero-btn-next btn-reset focus-offset" aria-label="Следующий слайд">
          <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.66797 1.33334L12.3346 12L1.66797 22.6667" stroke="#161C24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
