<div class="graph-modal">
  <div class="graph-modal__container popup popup__container" role="dialog" aria-modal="true"
    data-graph-target="cart-modal">
    <div class="popup__top">
      <h4 class="popup__title">Корзина</h4>
      <button class="btn-reset js-modal-close graph-modal__close popup__close focus-offset"
        aria-label="Закрыть модальное окно">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.6673 1.33331L1.33398 14.6666M14.6673 14.6666L1.33398 1.33331L14.6673 14.6666Z" stroke="#181818"
            stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="graph-modal__content popup__content">
      <div class="popup__product popup__product-empty--show">
        <div class="popup__empty">
          <h4 class="popup__empty-title">Корзина пуста</h4>
          <span class="popup__empty-text">Пожалуйста, добавьте товар в корзину</span>
        </div>
        <ul class="popup__list list-reset cart" data-cart data-simplebar>

        </ul>
        <p class="popup__total">
          Итого: <span class="popup__total-price price-symbol">0</span>
        </p>
        <div class="popup__buttons-inner">
          <div class="popup__buttons">
            <a class="popup__link main-btn" href="order.html">Оформить заказ</a>
            <button class="popup__continue btn-reset js-modal-close">Продолжить покупки</button>
          </div>
        </div>
      </div>
      <div class="popup__bottom addition">
        <h4 class="popup__title">С этим покупают</h4>
        <ul class="addition__list list-reset" data-bar data-simplebar>
          <li class="addition__item">
            <div class="addition__left">
              <picture class="addition__picture">
                <source srcset="img/product-4.avif" type="image/avif">
                <source srcset="img/product-4.webp" type="image/webp">
                <img loading="lazy" src="img/product-4.png" class="image" width="102" height="90"
                  alt="Golden Soft для офиса">
              </picture>
              <div class="addition__content">
                <span class="addition__title">Golden Soft для офиса</span>
                <div class="addition__rating-box">
                  <div class="addition__rating rating">
                    <div class="rating__group">
                      <input class="rating__star" id="product-1__5" name="product-1" type="radio" value="1"
                        aria-label="Ужасно">
                      <label class="rating__label" for="product-1__5"></label>
                      <input class="rating__star" id="product-1__4" name="product-1" type="radio" value="2"
                        aria-label="Сносно">
                      <label class="rating__label" for="product-1__4"></label>
                      <input class="rating__star" id="product-1__3" name="product-1" type="radio" value="3"
                        aria-label="Нормально" checked>
                      <label class="rating__label" for="product-1__3"></label>
                      <input class="rating__star" id="product-1__2" name="product-1" type="radio" value="4"
                        aria-label="Хорошо">
                      <label class="rating__label" for="product-1__2"></label>
                      <input class="rating__star" id="product-1__1" name="product-1" type="radio" value="5"
                        aria-label="Отлично">
                      <label class="rating__label" for="product-1__1"></label>
                    </div>
                  </div>
                  <a class="addition__reviews focus-offset" href="#">(12) отзывов</a>
                </div>
                <div class="addition__prices">
                  <span class="addition__newprice price-symbol">9 000</span>
                  <span class="addition__oldprice">12000₽</span>
                </div>
              </div>
            </div>
            <div class="addition__right">
              <button class="additon__add btn-reset cart-main__btn" aria-label="Добавить товар">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 9H1M9 17V9V17ZM9 9V1V9ZM9 9H17H9Z" stroke="#4295E4" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span>Добавить</span>
              </button>
            </div>
          </li>
          <li class="addition__item">
            <div class="addition__left">
              <picture class="addition__picture">
                <source srcset="img/product-4.avif" type="image/avif">
                <source srcset="img/product-4.webp" type="image/webp">
                <img loading="lazy" src="img/product-4.png" class="image" width="102" height="90"
                  alt="Golden Soft для офиса">
              </picture>
              <div class="addition__content">
                <span class="addition__title">Golden Soft для офиса</span>
                <div class="addition__rating-box">
                  <div class="addition__rating rating">
                    <div class="rating__group">
                      <input class="rating__star" id="product-2__5" name="product-2" type="radio" value="1"
                        aria-label="Ужасно">
                      <label class="rating__label" for="product-2__5"></label>
                      <input class="rating__star" id="product-2__4" name="product-2" type="radio" value="2"
                        aria-label="Сносно">
                      <label class="rating__label" for="product-2__4"></label>
                      <input class="rating__star" id="product-2__3" name="product-2" type="radio" value="3"
                        aria-label="Нормально" checked>
                      <label class="rating__label" for="product-2__3"></label>
                      <input class="rating__star" id="product-2__2" name="product-2" type="radio" value="4"
                        aria-label="Хорошо">
                      <label class="rating__label" for="product-2__2"></label>
                      <input class="rating__star" id="product-2__1" name="product-2" type="radio" value="5"
                        aria-label="Отлично">
                      <label class="rating__label" for="product-2__1"></label>
                    </div>
                  </div>
                  <a class="addition__reviews focus-offset" href="#">(12) отзывов</a>
                </div>
                <div class="addition__prices">
                  <span class="addition__newprice price-symbol">9 000</span>
                  <span class="addition__oldprice">12000₽</span>
                </div>
              </div>
            </div>
            <div class="addition__right">
              <button class="additon__add btn-reset cart-main__btn" aria-label="Добавить товар">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 9H1M9 17V9V17ZM9 9V1V9ZM9 9H17H9Z" stroke="#4295E4" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span>Добавить</span>
              </button>
            </div>
          </li>
          <li class="addition__item">
            <div class="addition__left">
              <picture class="addition__picture">
                <source srcset="img/product-4.avif" type="image/avif">
                <source srcset="img/product-4.webp" type="image/webp">
                <img loading="lazy" src="img/product-4.png" class="image" width="102" height="90"
                  alt="Golden Soft для офиса">
              </picture>
              <div class="addition__content">
                <span class="addition__title">Golden Soft для офиса</span>
                <div class="addition__rating-box">
                  <div class="addition__rating rating">
                    <div class="rating__group">
                      <input class="rating__star" id="product-3__5" name="product-3" type="radio" value="1"
                        aria-label="Ужасно">
                      <label class="rating__label" for="product-3__5"></label>
                      <input class="rating__star" id="product-3__4" name="product-3" type="radio" value="2"
                        aria-label="Сносно">
                      <label class="rating__label" for="product-3__4"></label>
                      <input class="rating__star" id="product-3__3" name="product-3" type="radio" value="3"
                        aria-label="Нормально" checked>
                      <label class="rating__label" for="product-3__3"></label>
                      <input class="rating__star" id="product-3__2" name="product-3" type="radio" value="4"
                        aria-label="Хорошо">
                      <label class="rating__label" for="product-3__2"></label>
                      <input class="rating__star" id="product-3__1" name="product-3" type="radio" value="5"
                        aria-label="Отлично">
                      <label class="rating__label" for="product-3__1"></label>
                    </div>
                  </div>
                  <a class="addition__reviews focus-offset" href="#">(12) отзывов</a>
                </div>
                <div class="addition__prices">
                  <span class="addition__newprice price-symbol">9 000</span>
                  <span class="addition__oldprice">12000₽</span>
                </div>
              </div>
            </div>
            <div class="addition__right">
              <button class="additon__add btn-reset cart-main__btn" aria-label="Добавить товар">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 9H1M9 17V9V17ZM9 9V1V9ZM9 9H17H9Z" stroke="#4295E4" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span>Добавить</span>
              </button>
            </div>
          </li>
          <li class="addition__item">
            <div class="addition__left">
              <picture class="addition__picture">
                <source srcset="img/product-4.avif" type="image/avif">
                <source srcset="img/product-4.webp" type="image/webp">
                <img loading="lazy" src="img/product-4.png" class="image" width="102" height="90"
                  alt="Golden Soft для офиса">
              </picture>
              <div class="addition__content">
                <span class="addition__title">Golden Soft для офиса</span>
                <div class="addition__rating-box">
                  <div class="addition__rating rating">
                    <div class="rating__group">
                      <input class="rating__star" id="product-4__5" name="product-4" type="radio" value="1"
                        aria-label="Ужасно">
                      <label class="rating__label" for="product-4__5"></label>
                      <input class="rating__star" id="product-4__4" name="product-4" type="radio" value="2"
                        aria-label="Сносно">
                      <label class="rating__label" for="product-4__4"></label>
                      <input class="rating__star" id="product-4__3" name="product-4" type="radio" value="3"
                        aria-label="Нормально" checked>
                      <label class="rating__label" for="product-4__3"></label>
                      <input class="rating__star" id="product-4__2" name="product-4" type="radio" value="4"
                        aria-label="Хорошо">
                      <label class="rating__label" for="product-4__2"></label>
                      <input class="rating__star" id="product-4__1" name="product-4" type="radio" value="5"
                        aria-label="Отлично">
                      <label class="rating__label" for="product-4__1"></label>
                    </div>
                  </div>
                  <a class="addition__reviews focus-offset" href="#">(12) отзывов</a>
                </div>
                <div class="addition__prices">
                  <span class="addition__newprice price-symbol">9 000</span>
                  <span class="addition__oldprice">12000₽</span>
                </div>
              </div>
            </div>
            <div class="addition__right">
              <button class="additon__add btn-reset cart-main__btn" aria-label="Добавить товар">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 9H1M9 17V9V17ZM9 9V1V9ZM9 9H17H9Z" stroke="#4295E4" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span>Добавить</span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="graph-modal__container success success__container" role="dialog" aria-modal="true"
    data-graph-target="wholesale-modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content success__content">
      <picture class="success__picture">
        <source srcset="img/success.avif" type="image/avif">
        <source srcset="img/success.webp" type="image/webp">
        <img loading="lazy" src="img/success.png" class="image" width="92" height="92" alt="Заявка принята">
      </picture>
      <h4 class="success__title">Ваша заявка успешно принята</h4>
      <p class="success__descr">
        Porttitor vitae ornare aliquet euismod nunc, tincidunt. In non elementum, ornare elementum nisi egestas vel ut.
      </p>
      <button class="success__btn btn-reset main-btn js-modal-close">Хорошо</button>
    </div>
  </div>
</div>
