<section class="pay" id="pay">
  <div class="container pay__container">
    <h2 class="pay__title delivery-title">Оплата</h2>
    <ul class="pay__list list-reset">
      <li class="pay__item">
        <strong class="pay__subject">Банковская карта</strong>
        <p class="pay__descr">
          Онлайн заказ можно оплатить с помощью банковской карты, выпущенной на территории России. Оформляя заказ на
          сайте, в пункте «Оплата» выберите «Банковская карта». После переадресации на страницу системы безопасных
          платежей, необходимо лишь подтвердить платеж.
        </p>
      </li>
      <li class="pay__item">
        <strong class="pay__subject">Оплата при получении товара</strong>
        <p class="pay__descr">
          Онлайн заказ можно оплатить непосредственно при получении. Оформляя заказ на сайте, в пункте «Оплата» выберите
          «Оплата при получении товара». После того как товар будет доставлен к заказчику, после полного осмотра,
          оплатите стоимость товара удобным для вас способом.
        </p>
      </li>
    </ul>
  </div>
</section>
