<section class="popular">
  <div class="container popular__container">
    <h2 class="popular__title title">Наши популярные продукты</h2>
    <button class="popular-btn-prev btn-reset focus-offset" aria-label="Предыдущий слайд продукта">
      <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.332 22.6667L1.66536 12L12.332 1.33332" stroke="#161C24" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
    <button class="popular-btn-next btn-reset focus-offset" aria-label="Следующий слайд продукта">
      <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.66797 1.33334L12.3346 12L1.66797 22.6667" stroke="#161C24" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
    <div class="swiper popular__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="product">
            <a href="product.html" tabindex="0">
              <span class="product__sale">Sale</span>
              <span class="product__instock">
                В наличии
                <span></span>
              </span>
              <span class="product__gift">Подарок</span>
              <div class="product__image">
                <picture>
                  <source srcset="img/popular-1.avif" type="image/avif">
                  <source srcset="img/popular-1.webp" type="image/webp">
                  <img loading="lazy" src="img/popular-1.png" class="product__img" width="288" height="320"
                    alt="Дверной Замок Golden Soft">
                </picture>
              </div>
              <div class="product__content">
                <h3 class="product__title">
                  Дверной Замок Golden Soft для отеля
                </h3>
                <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__newprice price-symbol">33 000</span>
                    <span class="product__oldprice">37 000₽</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="to-cart btn-reset" tabindex="-1">Добавить в корзину</button>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="product">
            <a href="product.html" tabindex="0">
              <span class="product__outstock">
                Нет в наличии
                <span></span>
              </span>
              <span class="product__gift">Подарок</span>
              <span class="product__sale">Sale</span>
              <div class="product__image">
                <picture>
                  <source srcset="img/popular-2.avif" type="image/avif">
                  <source srcset="img/popular-2.webp" type="image/webp">
                  <img loading="lazy" src="img/popular-2.png" class="product__img" width="288" height="320"
                    alt="Дверной Замок Golden Soft">
                </picture>
              </div>
              <div class="product__content">
                <h3 class="product__title">
                  Вариативный замок Golden Soft для отеля
                </h3>
                <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__newprice price-symbol">33 000</span>
                    <span class="product__oldprice">37 000₽</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="to-cart btn-reset" tabindex="-1">Добавить в корзину</button>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="product">
            <a href="product.html" tabindex="0">
              <span class="product__sale">Sale</span>
              <div class="product__image">
                <picture>
                  <source srcset="img/popular-3.avif" type="image/avif">
                  <source srcset="img/popular-3.webp" type="image/webp">
                  <img loading="lazy" src="img/popular-3.png" class="product__img" width="288" height="320"
                    alt="Дверной Замок Golden Soft">
                </picture>
              </div>
              <div class="product__content">
                <h3 class="product__title">
                  Дверной Замок Golden Soft для офиса
                </h3>
                <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__newprice price-symbol">33 000</span>
                    <span class="product__oldprice">37 000₽</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="to-cart btn-reset" tabindex="-1">Добавить в корзину</button>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="product">
            <a href="product.html" tabindex="0">
              <span class="product__sale">Sale</span>
              <div class="product__image">
                <picture>
                  <source srcset="img/popular-4.avif" type="image/avif">
                  <source srcset="img/popular-4.webp" type="image/webp">
                  <img loading="lazy" src="img/popular-4.png" class="product__img" width="288" height="320"
                    alt="Дверной Замок Golden Soft">
                </picture>
              </div>
              <div class="product__content">
                <h3 class="product__title">
                  Дверной Замок Golden Soft для отеля
                </h3>
                <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__newprice price-symbol">33 000</span>
                    <span class="product__oldprice">37 000₽</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="to-cart btn-reset" tabindex="-1">Добавить в корзину</button>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="product">
            <a href="product.html" tabindex="0">
              <span class="product__sale">Sale</span>
              <div class="product__image">
                <picture>
                  <source srcset="img/popular-1.avif" type="image/avif">
                  <source srcset="img/popular-1.webp" type="image/webp">
                  <img loading="lazy" src="img/popular-1.png" class="product__img" width="288" height="320"
                    alt="Дверной Замок Golden Soft">
                </picture>
              </div>
              <div class="product__content">
                <h3 class="product__title">
                  Дверной Замок Golden Soft для отеля
                </h3>
                <div class="product-custom">
                  <div class="product-custom__price">
                    <span class="product__newprice price-symbol">33 000</span>
                    <span class="product__oldprice">37 000₽</span>
                  </div>
                  <div class="product-custom__cart">
                    <button class="to-cart btn-reset" tabindex="-1">Добавить в корзину</button>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
