<section class="process">
  <div class="container process__container">
    <h2 class="process__title title">Как мы работаем</h2>
    <ul class="process__list list-reset">
      <li class="process__item">
        <span class="process__number">1</span>
        <div class="process__image">
          <picture class="process__picture">
            <source srcset="img/process-1.avif" type="image/avif">
            <source srcset="img/process-1.webp" type="image/webp">
            <img loading="lazy" src="img/process-1.png" class="image" width="393" height="260" alt="Оформление заявки">
          </picture>
        </div>
        <div class="process__text">
          <h5 class="process__subject subject">Оформление заявки</h5>
          <p class="process__descr">Вы оставляете заявку на сайте или связываетесь с нами по указанному на сайте номеру
            телефона</p>
        </div>
      </li>
      <li class="process__item">
        <span class="process__number">2</span>
        <div class="process__image">
          <picture class="process__picture">
            <source srcset="img/process-2.avif" type="image/avif">
            <source srcset="img/process-2.webp" type="image/webp">
            <img loading="lazy" src="img/process-2.png" class="image" width="393" height="260" alt="Согласование">
          </picture>
        </div>
        <div class="process__text">
          <h5 class="process__subject subject">Согласование</h5>
          <p class="process__descr">Мы консультируем Вас, согласовываем стоимость и точное время приезда нашего специалиста</p>
        </div>
      </li>
      <li class="process__item">
        <span class="process__number">3</span>
        <div class="process__image">
          <picture class="process__picture">
            <source srcset="img/process-3.avif" type="image/avif">
            <source srcset="img/process-3.webp" type="image/webp">
            <img loading="lazy" src="img/process-3.png" class="image" width="393" height="260" alt="Отправка товара и установка">
          </picture>
        </div>
        <div class="process__text">
          <h5 class="process__subject subject">Отправка товара и установка</h5>
          <p class="process__descr">Наш специалист по монтажу замков выезжает к Вам в точно зазначеное время по согласованному адресу</p>
        </div>
      </li>
    </ul>
  </div>
</section>
