<section class="product-page">
  <div class="container product-page__container">
    <div class="product-page__images product-images">
      <div class="product-images__top">
        <picture class="product-images__picture">
          <source srcset="img/product-page-1.avif" type="image/avif">
          <source srcset="img/product-page-1.webp" type="image/webp">
          <img loading="lazy" src="img/product-page-1.png" class="image" width="400" height="420" alt="">
        </picture>
      </div>
      <div class="product-images__bottom"></div>
    </div>
    <div class="product-page__text product-text">
      <div class="product-text__info">
        <span class="product-text__num">JA182765</span>
        <div class="product-text__rating rating">
          <div class="rating__group">
            <input class="rating__star" id="product__5" name="product" type="radio" value="1" aria-label="Ужасно">
            <label class="rating__label" for="product__5"></label>
            <input class="rating__star" id="product__4" name="product" type="radio" value="2" aria-label="Сносно">
            <label class="rating__label" for="product__4"></label>
            <input class="rating__star" id="product__3" name="product" type="radio" value="3" aria-label="Нормально"
              checked>
            <label class="rating__label" for="product__3"></label>
            <input class="rating__star" id="product__2" name="product" type="radio" value="4" aria-label="Хорошо">
            <label class="rating__label" for="product__2"></label>
            <input class="rating__star" id="product__1" name="product" type="radio" value="5" aria-label="Отлично">
            <label class="rating__label" for="product__1"></label>
          </div>
        </div>
        <a class="product-text__reviews" href="#">(12) отзывов</a>
      </div>
      <h4 class="product-text__title">Дверной Замок Golden Soft для офиса</h4>
      <div class="product-text__checkboxes product-checkboxes">
        <span class="product-checkboxes__text">Подходит для установки на:</span>
        <ul class="product-checkboxes__list list-reset">
          <li class="product-checkboxes__item">
            <label class="custom-checkbox">
              <input class="custom-checkbox__input visually-hidden" type="checkbox">
              <span class="custom-checkbox__text">Деревянную дверь</span>
            </label>
          </li>
          <li class="product-checkboxes__item">
            <label class="custom-checkbox">
              <input class="custom-checkbox__input visually-hidden" type="checkbox">
              <span class="custom-checkbox__text">Межкомнатную дверь</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="product-text__description product-description">
        <div class="product-description__equipment equipment">
          <strong class="equipment__title product-description__title">Комплектация</strong>
          <div class="custom-select" tabindex="0" role="button" aria-label="Выберите комплектацию товара">
            <div class="custom-select__top">Smart замок без приложения</div>
            <div class="custom-select__dropdown">
              <ul class="custom-select__list list-reset" role="alert">
                <li class="custom-select__item">Smart замок без приложения</li>
                <li class="custom-select__item">Smart замок c приложением</li>
                <li class="custom-select__item">Полная комплектация</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="product-description__color color">
          <strong class="color__title product-description__title">Цвет</strong>
          <ul class="color__list list-reset">
            <li class="color__item"><button class="color__button btn-reset color__button--white color__button--active"
                aria-label="Белый цвет"></button></li>
            <li class="color__item"><button class="color__button btn-reset color__button--black"
                aria-label="Черный цвет"></button></li>
            <li class="color__item"><button class="color__button btn-reset color__button--orange"
                aria-label="Оранжевый цвет"></button></li>
          </ul>
        </div>
      </div>
      <div class="product-text__prices">
        <span class="product-text__newprice">33 000₽</span>
        <span class="product-text__oldprice">37 000₽</span>
      </div>
      <div class="product-text__buttons">
        <button class="product-text__buy btn-reset main-btn">Купить</button>
        <button class="product-text__favorite btn-reset">
          <svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.75 1C3.57485 1 1 3.60947 1 6.82891C1 9.42778 2.00625 15.5958 11.9112 21.831C12.0886 21.9415 12.2923 22 12.5 22C12.7077 22 12.9114 21.9415 13.0888 21.831C22.9937 15.5958 24 9.42778 24 6.82891C24 3.60947 21.4251 1 18.25 1C15.0748 1 12.5 4.53267 12.5 4.53267C12.5 4.53267 9.92515 1 6.75 1Z"
              stroke="#454F5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          В избранное
        </button>
      </div>
      <div class="product-text__dropdowns">
        <div class="product-text__accordion accordion accordion--active">
          <button class="accordion__control btn-reset" aria-expanded="false">
            <span class="accordion__title">Оплата</span>
            <span class="accordion__icon">
              <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#938A9F" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <p>Оплата при получении товара, Картой онлайн, Google Pay, Акционная оплата картой Visa, Безналичными для
              юридических лиц, Безналичными для физических лиц, Apple Pay, PrivatPay, Оплата картой в отделении</p>
          </div>
        </div>
        <div class="product-text__accordion accordion">
          <button class="accordion__control btn-reset" aria-expanded="false">
            <span class="accordion__title">Монтаж и доставка</span>
            <span class="accordion__icon">
              <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#938A9F" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <p>Оплата при получении товара, Картой онлайн, Google Pay, Акционная оплата картой Visa, Безналичными для
              юридических лиц, Безналичными для физических лиц, Apple Pay, PrivatPay, Оплата картой в отделении</p>
          </div>
        </div>
        <div class="product-text__accordion accordion">
          <button class="accordion__control btn-reset" aria-expanded="false">
            <span class="accordion__title">Гарантии и выгода</span>
            <span class="accordion__icon">
              <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#938A9F" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <p>Оплата при получении товара, Картой онлайн, Google Pay, Акционная оплата картой Visa, Безналичными для
              юридических лиц, Безналичными для физических лиц, Apple Pay, PrivatPay, Оплата картой в отделении</p>
          </div>
        </div>
      </div>
    </div>
    <div class="product-page__tabs product-tabs">
      <ul class="product-tabs__list list-reset">
        <li class="product-tabs__item">Характеристики</li>
        <li class="product-tabs__item">Описание</li>
        <li class="product-tabs__item">Отзывы</li>
      </ul>
    </div>
  </div>
</section>
