<section class="product-page">
  <div class="container product-page__container">
    <div class="product-page__images product-images">
      <div class="product-images__top slider-block">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture class="product-images__picture">
              <source srcset="img/hero-mobile.avif" type="image/avif" media="(max-width: 576px)">
              <source srcset="img/hero-mobile.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="img/hero-mobile.png" media="(max-width: 576px)">
              <source srcset="img/slider-bot-1.avif" type="image/avif">
              <source srcset="img/slider-bot-1.webp" type="image/webp">
              <img loading="lazy" src="img/slider-bot-1.png" class="image" width="400" height="420"
                alt="Дверной Замок Golden Soft для офиса">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="product-images__picture">
              <source srcset="img/hero-mobile.avif" type="image/avif" media="(max-width: 576px)">
              <source srcset="img/hero-mobile.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="img/hero-mobile.png" media="(max-width: 576px)">
              <source srcset="img/slider-bot-2.avif" type="image/avif">
              <source srcset="img/slider-bot-2.webp" type="image/webp">
              <img loading="lazy" src="img/slider-bot-2.png" class="image" width="400" height="420"
                alt="Дверной Замок Golden Soft для офиса">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="product-images__picture">
              <source srcset="img/hero-mobile.avif" type="image/avif" media="(max-width: 576px)">
              <source srcset="img/hero-mobile.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="img/hero-mobile.png" media="(max-width: 576px)">
              <source srcset="img/slider-bot-3.avif" type="image/avif">
              <source srcset="img/slider-bot-3.webp" type="image/webp">
              <img loading="lazy" src="img/slider-bot-3.png" class="image" width="400" height="420"
                alt="Дверной Замок Golden Soft для офиса">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture class="product-images__picture">
              <source srcset="img/hero-mobile.avif" type="image/avif" media="(max-width: 576px)">
              <source srcset="img/hero-mobile.webp" type="image/webp" media="(max-width: 576px)">
              <source srcset="img/hero-mobile.png" media="(max-width: 576px)">
              <source srcset="img/slider-bot-1.avif" type="image/avif">
              <source srcset="img/slider-bot-1.webp" type="image/webp">
              <img loading="lazy" src="img/slider-bot-1.png" class="image" width="400" height="420"
                alt="Дверной Замок Golden Soft для офиса">
            </picture>
          </div>
        </div>
      </div>
      <div class="product-images__bottom slider-nav">
        <button class="slider-nav__item btn-reset" tabindex="0" aria-label="Первый слайд">
          <picture>
            <source srcset="img/slider-bottom-1.avif" type="image/avif">
            <source srcset="img/slider-bottom-1.webp" type="image/webp">
            <img loading="lazy" src="img/slider-bottom-1.png" class="image" width="142" height="133"
              alt="Дверной Замок Golden Soft для офиса">
          </picture>
        </button>
        <button class="slider-nav__item btn-reset" tabindex="0" aria-label="Второй слайд">
          <picture>
            <source srcset="img/slider-bottom-2.avif" type="image/avif">
            <source srcset="img/slider-bottom-2.webp" type="image/webp">
            <img loading="lazy" src="img/slider-bottom-2.png" class="image" width="142" height="133"
              alt="Дверной Замок Golden Soft для офиса">
          </picture>
        </button>
        <button class="slider-nav__item btn-reset" tabindex="0" aria-label="Третий слайд">
          <picture>
            <source srcset="img/slider-bottom-2.avif" type="image/avif">
            <source srcset="img/slider-bottom-2.webp" type="image/webp">
            <img loading="lazy" src="img/slider-bottom-2.png" class="image" width="142" height="133"
              alt="Дверной Замок Golden Soft для офиса">
          </picture>
        </button>
        <button class="slider-nav__item btn-reset" tabindex="0" aria-label="Четвертый слайд">
          <picture>
            <source srcset="img/slider-bottom-1.avif" type="image/avif">
            <source srcset="img/slider-bottom-1.webp" type="image/webp">
            <img loading="lazy" src="img/slider-bottom-1.png" class="image" width="142" height="133"
              alt="Дверной Замок Golden Soft для офиса">
          </picture>
        </button>
      </div>
    </div>
    <div class="product-page__text product-text">
      <div class="product-text__info">
        <span class="product-text__num">JA182765</span>
        <div class="product-text__rating rating">
          <div class="rating__group">
            <input class="rating__star" id="product__5" name="product" type="radio" value="1" aria-label="Ужасно">
            <label class="rating__label" for="product__5"></label>
            <input class="rating__star" id="product__4" name="product" type="radio" value="2" aria-label="Сносно">
            <label class="rating__label" for="product__4"></label>
            <input class="rating__star" id="product__3" name="product" type="radio" value="3" aria-label="Нормально"
              checked>
            <label class="rating__label" for="product__3"></label>
            <input class="rating__star" id="product__2" name="product" type="radio" value="4" aria-label="Хорошо">
            <label class="rating__label" for="product__2"></label>
            <input class="rating__star" id="product__1" name="product" type="radio" value="5" aria-label="Отлично">
            <label class="rating__label" for="product__1"></label>
          </div>
        </div>
        <a class="product-text__reviews focus-offset" href="#">(12) отзывов</a>
        <button class="product-text__mob-favorite btn-reset" aria-label="Добавить в избранное">
          <svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.75 1C3.57485 1 1 3.60947 1 6.82891C1 9.42778 2.00625 15.5958 11.9112 21.831C12.0886 21.9415 12.2923 22 12.5 22C12.7077 22 12.9114 21.9415 13.0888 21.831C22.9937 15.5958 24 9.42778 24 6.82891C24 3.60947 21.4251 1 18.25 1C15.0748 1 12.5 4.53267 12.5 4.53267C12.5 4.53267 9.92515 1 6.75 1Z"
              stroke="#454F5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <h4 class="product-text__title">Дверной Замок Golden Soft для офиса</h4>
      <div class="product-text__checkboxes product-checkboxes">
        <span class="product-checkboxes__text">Подходит для установки на:</span>
        <ul class="product-checkboxes__list list-reset">
          <li class="product-checkboxes__item">
            <label class="custom-checkbox custom-checkbox--active">
              <input class="custom-checkbox__input visually-hidden" type="checkbox" checked>
              <span class="custom-checkbox__text">Деревянную дверь</span>
            </label>
          </li>
          <li class="product-checkboxes__item">
            <label class="custom-checkbox custom-checkbox--active">
              <input class="custom-checkbox__input visually-hidden" type="checkbox" checked>
              <span class="custom-checkbox__text">Межкомнатную дверь</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="product-text__description product-description">
        <div class="product-description__equipment equipment">
          <strong class="equipment__title product-description__title">Комплектация</strong>
          <button class="custom-select btn-reset" tabindex="0" aria-label="Выберите комплектацию товара">
            <div class="custom-select__top">Smart замок без приложения</div>
            <div class="custom-select__dropdown">
              <ul class="custom-select__list list-reset" role="alert">
                <li class="custom-select__item" tabindex="0">Smart замок без приложения</li>
                <li class="custom-select__item" tabindex="0">Smart накладка на замок</li>
                <li class="custom-select__item" tabindex="0">Без мартизы, без приложения</li>
              </ul>
            </div>
          </button>
        </div>
        <div class="product-description__color color">
          <strong class="color__title product-description__title">Цвет</strong>
          <ul class="color__list list-reset">
            <li class="color__item"><button
                class="color__button btn-reset color__button--white color__button--active focus-offset"
                aria-label="Белый цвет"></button></li>
            <li class="color__item"><button class="color__button btn-reset color__button--black focus-offset"
                aria-label="Черный цвет"></button></li>
            <li class="color__item"><button class="color__button btn-reset color__button--orange focus-offset"
                aria-label="Оранжевый цвет"></button></li>
          </ul>
        </div>
      </div>
      <div class="product-text__prices">
        <span class="product-text__newprice">33 000₽</span>
        <span class="product-text__oldprice">37 000₽</span>
      </div>
      <div class="product-text__buttons">
        <button class="product-text__buy btn-reset main-btn">Купить</button>
        <button class="product-text__favorite btn-reset">
          <svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.75 1C3.57485 1 1 3.60947 1 6.82891C1 9.42778 2.00625 15.5958 11.9112 21.831C12.0886 21.9415 12.2923 22 12.5 22C12.7077 22 12.9114 21.9415 13.0888 21.831C22.9937 15.5958 24 9.42778 24 6.82891C24 3.60947 21.4251 1 18.25 1C15.0748 1 12.5 4.53267 12.5 4.53267C12.5 4.53267 9.92515 1 6.75 1Z"
              stroke="#454F5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          В избранное
        </button>
      </div>
      <div class="product-text__dropdowns">
        <div class="product-text__accordion accordion accordion--active">
          <button class="accordion__control btn-reset focus-offset" aria-expanded="false">
            <span class="accordion__title">Оплата</span>
            <span class="accordion__icon">
              <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#938A9F" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <p>Оплата при получении товара, Картой онлайн, Google Pay, Акционная оплата картой Visa, Безналичными для
              юридических лиц, Безналичными для физических лиц, Apple Pay, PrivatPay, Оплата картой в отделении</p>
          </div>
        </div>
        <div class="product-text__accordion accordion">
          <button class="accordion__control btn-reset focus-offset" aria-expanded="false">
            <span class="accordion__title">Монтаж и доставка</span>
            <span class="accordion__icon">
              <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#938A9F" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <p>Оплата при получении товара, Картой онлайн, Google Pay, Акционная оплата картой Visa, Безналичными для
              юридических лиц, Безналичными для физических лиц, Apple Pay, PrivatPay, Оплата картой в отделении</p>
          </div>
        </div>
        <div class="product-text__accordion accordion">
          <button class="accordion__control btn-reset focus-offset" aria-expanded="false">
            <span class="accordion__title">Гарантии и выгода</span>
            <span class="accordion__icon">
              <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L7 7L1 1" stroke="#938A9F" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </button>
          <div class="accordion__content" aria-hidden="true">
            <p>Оплата при получении товара, Картой онлайн, Google Pay, Акционная оплата картой Visa, Безналичными для
              юридических лиц, Безналичными для физических лиц, Apple Pay, PrivatPay, Оплата картой в отделении</p>
          </div>
        </div>
      </div>
    </div>
    <div class="product-page__tabs product-tabs">
      <ul class="product-tabs__list list-reset">
        <li class="product-tabs__item"><button
            class="product-tabs__btn btn-reset product-tabs__btn--active focus-offset"
            data-tabs-path="charact">Характеристики</button></li>
        <li class="product-tabs__item"><button class="product-tabs__btn btn-reset focus-offset"
            data-tabs-path="descr">Описание</button></li>
        <li class="product-tabs__item"><button class="product-tabs__btn btn-reset focus-offset"
            data-tabs-path="reviews">Отзывы</button></li>
      </ul>

      <div class="product-tabs__content tabs-content product-tabs__content--active" data-tabs-target="charact">
        <div class="tabs-content__inner">

          <div class="tabs-content__left">
            <ul class="tabs-content__list list-reset">
              <li class="tabs-content__item">
                <span class="tabs-content__name">Память на количество карт</span>
                <span class="tabs-content__descr">2033</span>
              </li>
              <li class="tabs-content__item">
                <span class="tabs-content__name">Приложение</span>
                <span class="tabs-content__descr">Нет</span>
              </li>
              <li class="tabs-content__item">
                <span class="tabs-content__name">Материал</span>
                <span class="tabs-content__descr">Сталь, силиконовые вставки</span>
              </li>
              <li class="tabs-content__item">
                <span class="tabs-content__name">Цвет</span>
                <span class="tabs-content__descr">Черный, хром</span>
              </li>
              <li class="tabs-content__item">
                <span class="tabs-content__name">Питание</span>
                <span class="tabs-content__descr">DC 6V, 4 AAA</span>
              </li>
              <li class="tabs-content__item">
                <span class="tabs-content__name">Разблокировка</span>
                <span class="tabs-content__descr">Пин-код, карта или браслет Mifaire, ключ, приложение, отпечаток
                  пальца</span>
              </li>
            </ul>
          </div>

          <div class="tabs-content__right">
            <ul class="tabs-content__list list-reset">
              <li class="tabs-content__item">
                <span class="tabs-content__name">Тип двери</span>
                <span class="tabs-content__descr">Деревянная, металлическая</span>
              </li>
              <li class="tabs-content__item">
                <span class="tabs-content__name">Толщина двери</span>
                <span class="tabs-content__descr">38-55 мм</span>
              </li>
              <li class="tabs-content__item">
                <span class="tabs-content__name">Размеры</span>
                <span class="tabs-content__descr">302мм * 43мм * 22.55мм</span>
              </li>
              <li class="tabs-content__item">
                <span class="tabs-content__name">Вес</span>
                <span class="tabs-content__descr">2.5 кг</span>
              </li>
              <li class="tabs-content__item">
                <span class="tabs-content__name">Комплектация</span>
                <span class="tabs-content__descr">Без мартизы, с мартизой</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="product-tabs__content tabs-content" data-tabs-target="descr">
        <div class="tabs-content__inner">

          <div class="tabs-content__left">
            <p class="tabs-content__description">Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный
              глянцевый блеск, четкие линии, красивые формы – этот замок сразу заявляет о своем высоком статусе.
              Изысканный черный цвет корпуса в обрамлении из золота мгновенно притягивает взгляды. Функционален, удобен
              в работе и легок в уходе: для сохранения блеска достаточно лишь протереть поверхность салфеткой.</p>
            <p class="tabs-content__description">
              Подходит для установки на деревянную/межкомнатную дверь.
            </p>
            <strong class="tabs-content__title">
              Преимущества умного замка от Golden Soft с приложением:
            </strong>
            <ul class="tabs-content__checkboxes list-reset">
              <li class="tabs-content__checkbox">
                <label class="custom-checkbox custom-checkbox--active">
                  <input class="custom-checkbox__input visually-hidden" type="checkbox" checked>
                  <span class="custom-checkbox__text">Минимизирует кражи среди персонала</span>
                </label>
              </li>
              <li class="tabs-content__checkbox">
                <label class="custom-checkbox custom-checkbox--active">
                  <input class="custom-checkbox__input visually-hidden" type="checkbox" checked>
                  <span class="custom-checkbox__text">Сложно взломать, высокая надежность</span>
                </label>
              </li>
              <li class="tabs-content__checkbox">
                <label class="custom-checkbox custom-checkbox--active">
                  <input class="custom-checkbox__input visually-hidden" type="checkbox" checked>
                  <span class="custom-checkbox__text">Можно отказаться от создания физических карт или ключей и высылать
                    электронный ключ новым сотрудникам прямо на смартфон</span>
                </label>
              </li>
              <li class="tabs-content__checkbox">
                <label class="custom-checkbox custom-checkbox--active">
                  <input class="custom-checkbox__input visually-hidden" type="checkbox" checked>
                  <span class="custom-checkbox__text">Отслеживание статистики открытий с информацией о каждом
                    открывавшем замок человеке</span>
                </label>
              </li>
            </ul>
            <p class="tabs-content__description">
              Каждый ключ записывается в память замка с уникальным токеном, что делает почти невозможным подделку
              цифрового ключа. Замки программируются с помощью Bluetooth-соединения с приложением на вашем устройстве
              или с помощью мастер – карты, которая переводит замок в режим программирования, а после получения ключа вы
              сможете выставить для себя уникальный пин-код или настроить отпечаток пальца прямо через приложение.
              Также, вы всегда можете выписывать карты или браслеты стандарта Mifare с помощью Энкодера в связке с
              приложением на ПК либо Android
            </p>
          </div>

          <div class="tabs-content__right">
            <picture>
              <source srcset="img/tabs-descr.avif" type="image/avif">
              <source srcset="img/tabs-descr.webp" type="image/webp">
              <img loading="lazy" src="img/tabs-descr.png" class="image" width="499" height="650"
                alt="Дверной Замок Golden Soft для офиса">
            </picture>
          </div>
        </div>
      </div>
      <div class="product-tabs__content tabs-content" data-tabs-target="reviews">
        <div class="tabs-content__inner">
          <div class="tabs-content__left">
            <ul class="tabs-content__list list-reset">

            </ul>
            <div class="text-center">
              <button class="tabs-content__btn-more btn-reset">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16.945 13.3834C16.24 14.8088 15.0965 15.9707 13.6825 16.6984C12.2786 17.4192 10.678 17.6626 9.12334 17.3917C7.56383 17.1175 6.13505 16.3457 5.05084 15.1917C3.95656 14.0268 3.25984 12.545 3.06084 10.9592C2.85871 9.36982 3.16316 7.75718 3.93084 6.35087C4.69146 4.95535 5.88007 3.84092 7.32167 3.17171C8.75359 2.50851 10.3628 2.33062 11.905 2.66504C13.4467 2.99921 14.71 3.75921 15.755 4.96087C15.8808 5.09421 16.3675 5.63254 16.7717 6.44504"
                    stroke="#4295E4" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M13.0566 6.51087L17.2566 7.2667L17.9991 2.9917" stroke="#4295E4" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                Показать еще
              </button>
            </div>
          </div>
          <form class="tabs-content__form tabs-form" action="#">
            <div class="tabs-form__inner">
              <span class="tabs-form__text">
                Ваша оценка
              </span>
              <div class="tabs-form__rating rating">
                <div class="rating__group">
                  <input class="rating__star" id="form__5" name="form" type="radio" value="1" aria-label="Ужасно">
                  <label class="rating__label" for="form__5"></label>
                  <input class="rating__star" id="form__4" name="form" type="radio" value="2" aria-label="Сносно">
                  <label class="rating__label" for="form__4"></label>
                  <input class="rating__star" id="form__3" name="form" type="radio" value="3" aria-label="Нормально">
                  <label class="rating__label" for="form__3"></label>
                  <input class="rating__star" id="form__2" name="form" type="radio" value="4" aria-label="Хорошо">
                  <label class="rating__label" for="form__2"></label>
                  <input class="rating__star" id="form__1" name="form" type="radio" value="5" aria-label="Отлично">
                  <label class="rating__label" for="form__1"></label>
                </div>
              </div>
            </div>
            <label class="tabs-form__label">
              <span class="tabs-form__text">Ваше имя</span>
              <input type="text" name="Имя" class="tabs-form__input input-reset tabs-form__name input-form input-name"
                placeholder="Введите Ваше имя">
            </label>
            <label class="tabs-form__label">
              <span class="tabs-form__text">Ваш Email</span>
              <input type="text" name="Имя" class="tabs-form__input input-reset tabs-form__email input-form input-email"
                placeholder="Введите Ваш Email">
            </label>
            <label class="tabs-form__label">
              <span class="tabs-form__text">Ваш комментарий</span>
              <textarea class="tabs-form__comment" name="Комментарий" id="" cols="30" rows="10"
                placeholder="Введите Ваш комментарий"></textarea>
            </label>
            <button class="tabs-form__btn btn-reset main-btn">Оставить отзыв</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
