<section class="projects">
  <div class="container projects__container">
    <h2 class="projects__title title">Наши крупные проекты</h2>
    <div class="projects__swiper-inner">
      <div class="swiper projects-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide projects-slide">
            <div class="projects-slide__content">
              <picture class="projects-slide__picture">
                <source srcset="img/project-1.avif" type="image/avif">
                <source srcset="img/project-1.webp" type="image/webp">
                <img loading="lazy" src="img/project-1.png" class="image" width="511" height="328"
                  alt="Проект для гостинницы Radisson Hotels">
              </picture>
              <div class="projects-slide__text">
                <picture>
                  <source srcset="img/project-logo.avif" type="image/avif">
                  <source srcset="img/project-logo.webp" type="image/webp">
                  <img loading="lazy" src="img/project-logo.png" class="image" width="164" height="40"
                    alt="Radison Hotels">
                </picture>
                <h4 class="projects-slide__title">Проект для гостинницы Radisson Hotels</h4>
                <ul class="projects-slide__list list-reset">
                  <li class="projects-slide__item">
                    <label class="custom-checkbox custom-checkbox--active">
                      <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                      <span class="custom-checkbox__text">Установлено 123 Вариативных замка Golden Soft для отеля</span>
                    </label>
                  </li>
                  <li class="projects-slide__item">
                    <label class="custom-checkbox custom-checkbox--active">
                      <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                      <span class="custom-checkbox__text">Было нанесено личный брендинг на все замки</span>
                    </label>
                  </li>
                  <li class="projects-slide__item">
                    <label class="custom-checkbox custom-checkbox--active">
                      <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                      <span class="custom-checkbox__text">Были проведны монтажные работы, также была произведена помощь
                        в пкделючении замков к системе</span>
                    </label>
                  </li>
                </ul>
                <span class="projects-slide__budget">Бюджет - <span>$5000</span>
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide projects-slide">
            <div class="projects-slide__content">
              <picture class="projects-slide__picture">
                <source srcset="img/project-1.avif" type="image/avif">
                <source srcset="img/project-1.webp" type="image/webp">
                <img loading="lazy" src="img/project-1.png" class="image" width="511" height="328"
                  alt="Проект для гостинницы Radisson Hotels">
              </picture>
              <div class="projects-slide__text">
                <picture>
                  <source srcset="img/project-logo.avif" type="image/avif">
                  <source srcset="img/project-logo.webp" type="image/webp">
                  <img loading="lazy" src="img/project-logo.png" class="image" width="164" height="40"
                    alt="Radison Hotels">
                </picture>
                <h4 class="projects-slide__title">Проект для гостинницы Radisson Hotels</h4>
                <ul class="projects-slide__list list-reset">
                  <li class="projects-slide__item">
                    <label class="custom-checkbox custom-checkbox--active">
                      <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                      <span class="custom-checkbox__text">Установлено 123 Вариативных замка Golden Soft для отеля</span>
                    </label>
                  </li>
                  <li class="projects-slide__item">
                    <label class="custom-checkbox custom-checkbox--active">
                      <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                      <span class="custom-checkbox__text">Было нанесено личный брендинг на все замки</span>
                    </label>
                  </li>
                  <li class="projects-slide__item">
                    <label class="custom-checkbox custom-checkbox--active">
                      <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                      <span class="custom-checkbox__text">Были проведны монтажные работы, также была произведена помощь
                        в пкделючении замков к системе</span>
                    </label>
                  </li>
                </ul>
                <span class="projects-slide__budget">Бюджет - <span>$5000</span>
                </span>
              </div>
            </div>
          </div>
          <div class="swiper-slide projects-slide">
            <div class="projects-slide__content">
              <picture class="projects-slide__picture">
                <source srcset="img/project-1.avif" type="image/avif">
                <source srcset="img/project-1.webp" type="image/webp">
                <img loading="lazy" src="img/project-1.png" class="image" width="511" height="328"
                  alt="Проект для гостинницы Radisson Hotels">
              </picture>
              <div class="projects-slide__text">
                <picture>
                  <source srcset="img/project-logo.avif" type="image/avif">
                  <source srcset="img/project-logo.webp" type="image/webp">
                  <img loading="lazy" src="img/project-logo.png" class="image" width="164" height="40"
                    alt="Radison Hotels">
                </picture>
                <h4 class="projects-slide__title">Проект для гостинницы Radisson Hotels</h4>
                <ul class="projects-slide__list list-reset">
                  <li class="projects-slide__item">
                    <label class="custom-checkbox custom-checkbox--active">
                      <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                      <span class="custom-checkbox__text">Установлено 123 Вариативных замка Golden Soft для отеля</span>
                    </label>
                  </li>
                  <li class="projects-slide__item">
                    <label class="custom-checkbox custom-checkbox--active">
                      <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                      <span class="custom-checkbox__text">Было нанесено личный брендинг на все замки</span>
                    </label>
                  </li>
                  <li class="projects-slide__item">
                    <label class="custom-checkbox custom-checkbox--active">
                      <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                      <span class="custom-checkbox__text">Были проведны монтажные работы, также была произведена помощь
                        в пкделючении замков к системе</span>
                    </label>
                  </li>
                </ul>
                <span class="projects-slide__budget">Бюджет - <span>$5000</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="projects__pagination"></div>
    <div class="projects__navigation">
      <button class="projects-btn-prev btn-reset focus-offset" aria-label="Предыдущий слайд">
        <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.332 22.6667L1.66536 12L12.332 1.33332" stroke="#161C24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button class="projects-btn-next btn-reset focus-offset" aria-label="Следующий слайд">
        <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.66797 1.33334L12.3346 12L1.66797 22.6667" stroke="#161C24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</section>
