<section class="return" id="return">
  <div class="container return__container">
    <h2 class="return__title delivery-title">Возврат товара</h2>
    <div class="return__content">
      <strong class="return__subject">Подготовьте, пожалуйста, все необходимые документы:</strong>
      <ul class="return__list list-reset">
        <li class="return__item">выданный продавцом расчетный документ (чек / акт приема-передачи / накладная или др.),
          подтверждающий факт приобретения;
        </li>
        <li class="return__item">гарантийный талон;</li>
        <li class="return__item">документ, удостоверяющий личность;</li>
        <li class="return__item">идентификационный налоговый номер (ИНН);</li>
        <li class="return__item">в случае оплаты покупки банковской картой – актуальные реквизиты карточного счета.</li>
      </ul>
      <strong class="return__subject">Передайте товар на гарантийное обслуживание, обязательно приложите указанные выше
        документы.</strong>
      <p class="return__descr">Полезная информация о правах потребителя в случае приобретения им товара ненадлежащего
        качества –
        <a class="focus-offset" href="#">Закона РФ «О защите прав потребителей»</a>.
      </p>
      <p class="return__descr">Уважаемый покупатель, приносим извинения за неудобства, случившиеся в связи с выходом из
        строя. По вашему
        обращению будут приняты все меры для быстрого решения вашей проблемы.</p>
    </div>
  </div>
</section>
