<section class="shipping" id="shipping">
  <div class="container shipping__container">
    <h2 class="shipping__title delivery-title">Доставка</h2>
    <ul class="shipping__list list-reset">
      <li class="shipping__item" data-aos="adv-left">
        <span class="shipping__number">
          <picture>
            <source srcset="img/pochta-rus.avif" type="image/avif">
            <source srcset="img/pochta-rus.webp" type="image/webp">
            <img loading="lazy" src="img/pochta-rus.png" class="image" width="94" height="18" alt="Почта России">
          </picture>
        </span>
        <div class="shipping__image">
          <picture class="shipping__picture">
            <source srcset="img/shipping-1.avif" type="image/avif">
            <source srcset="img/shipping-1.webp" type="image/webp">
            <img loading="lazy" src="img/shipping-1.png" class="image" width="393" height="260" alt="Почта России">
          </picture>
        </div>
        <div class="shipping__text">
          <h5 class="shipping__subject subject">Почта России</h5>
          <div class="shipping__checkboxes">
            <div class="shipping__checkboxes-item">
              <label class="custom-checkbox custom-checkbox--active">
                <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                <span class="custom-checkbox__text">Получение посылки согласно условиям перевозчика</span>
              </label>
            </div>
            <div class="shipping__checkboxes-item">
              <label class="custom-checkbox custom-checkbox--active">
                <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                <span class="custom-checkbox__text">Доставка в течении 1-2 дней</span>
              </label>
            </div>
          </div>
        </div>
      </li>
      <li class="shipping__item" data-aos="adv-center">
        <span class="shipping__number">
          <picture>
            <source srcset="img/delovie-linii.avif" type="image/avif">
            <source srcset="img/delovie-linii.webp" type="image/webp">
            <img loading="lazy" src="img/delovie-linii.png" class="image" width="87" height="38" alt="Деловые линиии">
          </picture>
        </span>
        <div class="shipping__image">
          <picture class="shipping__picture">
            <source srcset="img/shipping-2.avif" type="image/avif">
            <source srcset="img/shipping-2.webp" type="image/webp">
            <img loading="lazy" src="img/shipping-2.png" class="image" width="393" height="260" alt="Деловые линиии">
          </picture>
        </div>
        <div class="shipping__text">
          <h5 class="shipping__subject subject">Деловые линии</h5>
          <div class="shipping__checkboxes">
            <div class="shipping__checkboxes-item">
              <label class="custom-checkbox custom-checkbox--active">
                <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                <span class="custom-checkbox__text">Получение посылки согласно условиям перевозчика</span>
              </label>
            </div>
            <div class="shipping__checkboxes-item">
              <label class="custom-checkbox custom-checkbox--active">
                <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                <span class="custom-checkbox__text">Доставка в течении 1-2 дней</span>
              </label>
            </div>
          </div>
        </div>
      </li>
      <li class="shipping__item" data-aos="adv-right">
        <span class="shipping__number">
          <picture>
            <source srcset="img/cdek.avif" type="image/avif">
            <source srcset="img/cdek.webp" type="image/webp">
            <img loading="lazy" src="img/cdek.png" class="image" width="51" height="22" alt="СДЭК">
          </picture>
        </span>
        <div class="shipping__image">
          <picture class="shipping__picture">
            <source srcset="img/shipping-3.avif" type="image/avif">
            <source srcset="img/shipping-3.webp" type="image/webp">
            <img loading="lazy" src="img/shipping-3.png" class="image" width="393" height="260" alt="СДЭК">
          </picture>
        </div>
        <div class="shipping__text">
          <h5 class="shipping__subject subject">СДЭК</h5>
          <div class="shipping__checkboxes">
            <div class="shipping__checkboxes-item">
              <label class="custom-checkbox custom-checkbox--active">
                <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                <span class="custom-checkbox__text">Получение посылки согласно условиям перевозчика</span>
              </label>
            </div>
            <div class="shipping__checkboxes-item">
              <label class="custom-checkbox custom-checkbox--active">
                <input class="custom-checkbox__input input-reset visually-hidden" type="checkbox" checked>
                <span class="custom-checkbox__text">Доставка в течении 1-2 дней</span>
              </label>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
