<section class="statistics">
  <div class="container statistics__container">
    <div class="statistics__content">
      <ul class="statistics__list list-reset">
        <li class="statistics__item">
          <span class="statistics__number" data-num="5567">0</span>
          <span class="statistics__text">Счастливых клиентов</span>
        </li>
        <li class="statistics__item">
          <span class="statistics__number" data-num="1245">0</span>
          <span class="statistics__text">Продуктов на выбор</span>
        </li>
        <li class="statistics__item">
          <span class="statistics__number" data-num="372">0</span>
          <span class="statistics__text">Продаж в день</span>
        </li>
        <li class="statistics__item">
          <span class="statistics__number" data-num="20">0</span>
          <span class="statistics__text">Лет на рынке</span>
        </li>
      </ul>
    </div>
  </div>
</section>
