<section class="static">
  <div class="container static__container">
    <ul class="static__list list-reset">
      <li class="static__item">
        <strong class="static__num">5,567</strong>
        <span class="static__name">Счастливых клиентов</span>
      </li>
      <li class="static__item">
        <strong class="static__num">1245</strong>
        <span class="static__name">Продуктов на выбор</span>
      </li>
      <li class="static__item">
        <strong class="static__num">372</strong>
        <span class="static__name">Продаж в день</span>
      </li>
      <li class="static__item">
        <strong class="static__num">20</strong>
        <span class="static__name">Лет на рынке</span>
      </li>
    </ul>
  </div>
</section>
