<div class="graph-modal success">
  <div class="graph-modal__container success__container" role="dialog" aria-modal="true" data-graph-target="wholesale-modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content success__content">
      <picture class="success__picture">
        <source srcset="img/success.avif" type="image/avif">
        <source srcset="img/success.webp" type="image/webp">
        <img loading="lazy" src="img/success.png" class="image" width="92" height="92" alt="Успешный заказ">
      </picture>
      <h4 class="success__title">Ваша заявка успешно принята</h4>
      <p class="success__descr">
        Porttitor vitae ornare aliquet euismod nunc, tincidunt. In non elementum, ornare elementum nisi egestas vel ut.
      </p>
      <button class="success__btn btn-reset main-btn js-modal-close">Хорошо</button>
    </div>
  </div>
</div>
