// colors
:root {
  // base
  --font-family: "SFUIText", sans-serif;
  --content-width: 1240px;
  --container-offset: 100px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
  --black-color: #161c24;
  --blue-color: #4295e4;
}
